<footer class="cos-presentation__footer">
  <div class="cos-presentation__footer-content">
    <div class="cos-presentation__footer-logo">
      <img src="https://via.placeholder.com/173x46" />
      <div class="cos-presentation__footer-contact">
        <p class="pb-0 mb-0">Linda Davis</p>
        <p class="pb-0 pt-0 mb-0">(866) 555-1234 ext. 51</p>
        <a href="">linda.davis@kraftwerk.com</a>
      </div>
    </div>
    <div class="cos-presentation__footer-asi-branding">
      <p class="cos-presentation__footer-copyright mb-0">
        <small
          >© 2020, The Advertising Specialty Institute®. All Rights
          Reserved.</small
        >
      </p>
    </div>
  </div>
</footer>
