<div
  class="presentation-quotes__pg-wrapper presentation-quotes__pg-intro mb-16"
>
  <div class="grid-gap-8 grid grid-cols-2">
    <div>
      <h1 class="header-style-24">Your quote request has been sent!</h1>
      <p class="body-style-14-shark">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </p>
    </div>
  </div>
</div>

<section class="presentation-quotes__pg-section mt-16 mb-32">
  <cos-card class="cos-card">
    <div class="cos-card-container">
      <div class="grid-cols-2-auto grid">
        <div>
          <h2 class="header-style-16">Adult Softspun Semi-Fitted Tee</h2>
        </div>
      </div>
      <div class="grid-gap-16 grid grid-cols-2">
        <div class="grid-gap-16 flex">
          <div class="quote-image">
            <img
              src="https://via.placeholder.com/100x100/EFEFEF/000000?text=coming%20soon"
            />
          </div>
          <div class="quote-details">
            <div class="grid-gap-4 grid-rows-5-auto body-style-14-shark grid">
              <div>Quantity: 280</div>
              <div>Color: Basic White</div>
              <div>Size: S: 50, M: 100, L: 100, XL: 30</div>
              <div>Imprint method: Screenprint</div>
              <div>Artwork: <a href="#">greenstone_icon_green.png</a></div>
            </div>
          </div>
        </div>
        <div class="quote-total body-style-14-shark">
          Customization comments:<br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam.
        </div>
      </div>
    </div>
  </cos-card>

  <cos-card class="cos-card">
    <div class="cos-card-container">
      <div class="grid-cols-2-auto grid">
        <div>
          <h2 class="header-style-16">
            Saturn Jumbo Sized Non-Woven Grocery Tote
          </h2>
        </div>
      </div>
      <div class="grid-gap-16 grid grid-cols-2">
        <div class="grid-gap-16 flex">
          <div class="quote-image">
            <img
              src="https://via.placeholder.com/100x100/EFEFEF/000000?text=coming%20soon"
            />
          </div>
          <div class="quote-details">
            <div class="grid-gap-4 body-style-14-shark grid">
              <div>Quantity: 500</div>
              <div>Color: Green</div>
              <div>Imprint method: Dye sublimation</div>
              <div>Artwork: <a href="#">greenstone_icon_white.png</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </cos-card>

  <cos-card class="cos-card">
    <div class="cos-card-container">
      <div class="grid-cols-2-auto grid">
        <div>
          <h2 class="header-style-16">Risky Business Shades</h2>
        </div>
      </div>
      <div class="grid-gap-16 grid grid-cols-2 mb-4">
        <div class="grid-gap-16 flex">
          <div class="quote-image">
            <img
              src="https://via.placeholder.com/100x100/EFEFEF/000000?text=coming%20soon"
            />
          </div>
          <div class="quote-details">
            <div class="grid-gap-4 body-style-14-shark grid mb-8">
              <div>Quantity: 250</div>
              <div>Color: Lime Green</div>
              <div>Imprint method: Pad print</div>
              <div>Artwork: <a href="#">greenstone_full_white.png</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-gap-16 grid grid-cols-2">
        <div class="grid-gap-16 flex">
          <div class="quote-image">
            <img
              src="https://via.placeholder.com/100x100/EFEFEF/000000?text=coming%20soon"
            />
          </div>
          <div class="quote-details">
            <div class="grid-gap-4 body-style-14-shark grid">
              <div>Quantity: 250</div>
              <div>Color: Dark Grey</div>
              <div>Imprint method: Pad print</div>
              <div>Artwork: <a href="#">greenstone_full_white.png</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </cos-card>

  <cos-card class="cos-card">
    <div class="cos-card-container">
      <div class="grid-cols-2-auto grid">
        <div>
          <h2 class="header-style-16">Just Your Basic Regular Ol'Clicky Pen</h2>
        </div>
      </div>
      <div class="grid-gap-16 grid grid-cols-2">
        <div class="grid-gap-16 flex">
          <div class="quote-image">
            <img
              src="https://via.placeholder.com/100x100/EFEFEF/000000?text=coming%20soon"
            />
          </div>
          <div class="quote-details">
            <div class="grid-gap-4 body-style-14-shark grid">
              <div>Quantity: 1,000</div>
              <div>Color: White - Black</div>
              <div>Ink: Black</div>
              <div>Imprint method: Pad print</div>
              <div>Artwork: <a href="#">greenstone_full_fullcolor.png</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </cos-card>
</section>

<div class="presentation-quotes__pg-wrapper">
  <h1 class="header-style-24">Order details</h1>

  <cos-card class="cos-card">
    <div class="cos-card-container">
      <div class="grid-gap-16 grid grid-cols-4">
        <div>
          <p class="body-style-12-shark mb-8">
            <strong>Point of contact</strong>
          </p>
          <p>
            Elizabeth Wiley<br />
            ewiley@greenstonefinancial.com<br />
            321-555-1234
          </p>
        </div>

        <div>
          <p class="body-style-12-shark mb-8">
            <strong>Billing address</strong>
          </p>
          <p>
            Elizabeth Wiley<br />
            1650 Market St, Ste 1902<br />
            Philadelphia, PA 19103<br />
            United States
          </p>
        </div>

        <div>
          <p class="body-style-12-shark mb-8">
            <strong>Shipping address</strong>
          </p>
          <p>
            Elizabeth Wiley<br />
            650 Market St, Ste 1902<br />
            Philadelphia, PA 19103<br />
            United States
          </p>
        </div>

        <div>
          <p class="body-style-12-shark mb-8">
            <strong>Priject details</strong>
          </p>
          <p>
            Needed in-hands by November 13,2020<br />
            Event scheduled for November 20, 2020
          </p>
        </div>
      </div>
    </div>
  </cos-card>
</div>
