@import 'cosmos/scss/settings/';
$mobile-breakpoint: $bp-large;

.project-notes {
  display: flex;
  flex-direction: column;
  padding: 0;

  @include wider-than($bp-large) {
    display: grid;

    grid-template-areas:
      'a a a a a a a a a a a a'
      'b b b c c c c c c c c c';
  }

  .header {
    grid-area: a;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-g-pebble-09;
  }
}
