<div class="footer">
  <div class="grid-layout-1">
    <div class="footer-wrapper">
      <div class="footer-links">
        <a
          href="mailto:support@Encore-VIP.com?subject=Encore%20Support"
          target="_blank"
        >
          Support
        </a>
        <div class="vert-line"></div>
        <a
          href="mailto:support@Encore-VIP.com?subject=Encore%20Feedback"
          target="_blank"
        >
          Feedback
        </a>
      </div>
      <div class="footer-copyright">
        &copy; {{ year }}, The Advertising Specialty Institute&reg;. All Rights
        Reserved.
      </div>
    </div>
  </div>
</div>
