<div class="page-container website">
  <div class="website-orders grid-layout-1">
    <div class="header flex justify-between mt-32">
      <h1 class="header-style-24 mb-2">Order Management</h1>
    </div>

    <div class="website-orders-content">
      <div class="grid-gap-16 flex w-full">
        <div class="website-orders-menu w-1/4">
          <cos-vertical-menu [label]="'Order Management menu'" [menu]="menu">
          </cos-vertical-menu>
        </div>
        <div class="website-orders-options w-3/4">
          <cos-card>
            <h2 class="header-style-18 mb-16">
              Do you want to accept orders with a payment on your site?
            </h2>

            Cos radio buttons
          </cos-card>
        </div>
      </div>
    </div>
  </div>
</div>
