@import 'cosmos/scss/settings/';

mat-selection-list {
  &.colors-list,
  &.supplier-list,
  &.cos-category-selection {
    min-width: 250px;
    overflow-x: hidden;
    mat-list-option {
      span {
        &:first-child {
          flex-grow: 1;
          text-overflow: ellipsis;
        }
        padding: 5px;
      }
    }
  }
}

.price-divider {
  line-height: 2rem;
  margin: 0 0.4rem;
}

.cos-filters {
  margin: 0.8rem 0;
}

.cos-filters-mega-menu {
  .cos-form-label {
    text-transform: capitalize;
    flex-shrink: 0;
  }
}

.cos-mega-menu-radios {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
  width: 100%;
  overflow: hidden;

  .cos-checkbox {
    margin: 5px 5px 5px 0;
  }

  @include wider-than($bp-large) {
    grid-template-columns: repeat(4, 25%);
  }
}

.cos-mega-menu-controls {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  margin-top: 16px;

  .cos-button {
    margin-left: 8px;
  }
}

.cos-pointer-menu-component {
  .cos-button {
    &[aria-expanded='true'] {
      @include cos-menu-pointer();
    }
  }
}

.cos-filter-show-more {
  margin-left: 10px;
  @include narrower-than($bp-large) {
    padding: 0;
    margin: 0;
  }
}

.cos-form-row-other-stuff {
  display: block;
}

.cos-form-row-dimensions {
  width: 100%;
  display: block;

  .type-ahead-row {
    max-width: 100%;
    display: block;
  }

  @include wider-than($bp-large) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    .type-ahead-row {
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
      flex: 1;

      & > .type-ahead-container {
        flex: 0 0 25%;
        padding-right: 2rem;
      }
    }

    .cos-filter-rush-time {
      flex: 0 0 auto;
      align-self: flex-end;
      margin-bottom: 28px;
    }
  }
}
