# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/elements

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/.angular/cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/tests/visual/reports
__diff_output__

# System Files
.DS_Store
Thumbs.db
tests/visual/reports
tests/visual/reports/jest-junit.xml
reports/
!libs/esp/reports
/**/environments/dev-overrides.ts
migrations.json

.angular

scripts/jest-github-reporter/*.report.json
