.product-results {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100%;

  &-util-bar {
    margin-bottom: 1.4rem;
  }

  > a:hover {
    text-decoration: none;
  }

  cos-supplier:hover {
    .cos-supplier-name,
    .cos-supplier-number {
      text-decoration: underline;
    }
  }
}

@supports (display: grid) {
  .product-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 16px;
  }
}

.item-list-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  > * {
    display: flex;
    flex-direction: column;
    flex-basis: 33.3333%;
    padding-right: 1rem;
  }
}

.product-accordion {
  > cos-card > .cos-card-container > .cos-card-body > .cos-card-main {
    padding: 0;
  }

  cos-accordion:last-of-type {
    margin-bottom: 0;
  }
}

esp-product-options {
  display: block;
}

esp-product-charges-table,
esp-product-charges {
  display: block;
  margin-bottom: 1rem;
}
