@import 'cosmos/scss/settings/';
// @import 'cosmos/scss/tailwind';

.company-detail {
  display: flex;
  flex-direction: column;

  @include wider-than($bp-large) {
    display: grid;
    grid-template-areas:
      'a a a a a a a a a a a a'
      'b b b c c c c c c c c c';
  }

  &-menu {
    grid-area: b;
  }

  &-content {
    grid-area: c;
  }

  &-keywords {
    width: 68%;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &-form {
    width: 100%;
    max-width: 348px;
  }
}

.company-detail-content {
  @include narrower-than($bp-medium) {
    & > .cos-card {
      border-radius: 0;
    }
  }

  .form-row-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: $spacing-stack-8;
    font-family: Barlow, sans-serif;
  }

  .form-row-value-list {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      > span {
        font-family: Work Sans, sans-serif;
        font-size: $font-size-14;
        margin-bottom: $spacing-stack-8;

        &:first-of-type {
          display: inline-block;
          width: 120px;
          margin-right: $spacing-inline-16;
          color: $color-g-shark-54;
        }

        @include narrower-than($bp-medium) {
          display: block;

          &:first-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    .cos-pill-label {
      margin-left: 8px;
      font-size: 11px;
      font-weight: regular;
    }
  }
}
