<div class="page-container website">
  <div class="website-overview grid-layout-1">
    <div class="header flex justify-between mt-32">
      <h1 class="header-style-24 mb-2">Template</h1>
    </div>

    <div class="website-overview-content">
      <div class="grid-gap-16 grid grid-cols-2">
        <cos-card class="cos-card">
          <div class="cos-card-container">
            <div class="cos-card-header grid grid-cols-2 mb-8">
              <div>
                <h2 class="header-style-16 mb-4">Selected Template</h2>
                <p class="body-style-12-shark">
                  Lorem ipsum dolor sit amet, consectetur adipiscing
                </p>
              </div>
              <div class="text-right">
                <button cos-button>Edit Template</button>
              </div>
            </div>
            <div class="grid-gap-16 grid-cols-2-auto grid">
              <div class="template-image">
                <img
                  src="https://via.placeholder.com/230x180/EFEFEF/000000?text=coming%20soon"
                />
              </div>
              <div class="template-details">
                <h4 class="header-style-14-semibold mb-4">Glory Days</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam.
                </p>
              </div>
            </div>
          </div>
        </cos-card>

        <cos-card class="cos-card">
          <div class="cos-card-container">
            <div class="cos-card-header grid grid-cols-2 mb-8">
              <div>
                <h2 class="header-style-16 mb-4">Color Palette</h2>
                <p class="body-style-12-shark">
                  Lorem ipsum dolor sit amet, consectetur adipiscing
                </p>
              </div>
              <div class="text-right">
                <button cos-button>Edit Site Settings</button>
              </div>
            </div>
            <div class="grid-gap-16 grid w-full grid-cols-2">
              <div>
                <h4 class="header-style-14-semibold mb-4">Headers</h4>
                <div _ngcontent-thk-c333="" class="color-picker-container">
                  <div
                    _ngcontent-thk-c333=""
                    class="colorblock"
                    style="background: rgb(21, 69, 105)"
                  ></div>
                  <input
                    _ngcontent-thk-c333=""
                    ng-reflect-color-picker="#164569"
                    value="#164569"
                  />
                  <!--container-->
                </div>
              </div>
              <div>
                <h4 class="header-style-14-semibold mb-4">
                  Interactive Elements
                </h4>
                <div _ngcontent-thk-c333="" class="color-picker-container">
                  <div
                    _ngcontent-thk-c333=""
                    class="colorblock"
                    style="background: rgb(255, 173, 0)"
                  ></div>
                  <input
                    _ngcontent-thk-c333=""
                    ng-reflect-color-picker="#FFAD00"
                    value="#FFAD00"
                  />
                  <!--container-->
                </div>
              </div>
              <div>
                <h4 class="header-style-14-semibold mb-4">Body Copy</h4>
                <div _ngcontent-thk-c333="" class="color-picker-container">
                  <div
                    _ngcontent-thk-c333=""
                    class="colorblock"
                    style="background: rgb(0, 0, 0)"
                  ></div>
                  <input
                    _ngcontent-thk-c333=""
                    ng-reflect-color-picker="#000"
                    value="#000000"
                  />
                  <!--container-->
                </div>
              </div>
              <div>
                <h4 class="header-style-14-semibold mb-4">Accent Color</h4>
                <div _ngcontent-thk-c333="" class="color-picker-container">
                  <div
                    _ngcontent-thk-c333=""
                    class="colorblock"
                    style="background: rgb(207, 67, 37)"
                  ></div>
                  <input
                    _ngcontent-thk-c333=""
                    ng-reflect-color-picker="#CF4325"
                    value="#CF4325"
                  />
                  <!--container-->
                </div>
              </div>
            </div>
          </div>
        </cos-card>
      </div>

      <div class="mt-16">
        <cos-card class="cos-card">
          <div class="cos-card-container">
            <div
              class="
                cos-card-header
                template-visuals
                grid-cols-2-auto grid-gap-16 grid
                w-full
              "
            >
              <div class="w-1\/3 pr-16">
                <h2 class="header-style-16 mb-4">Choose New Template</h2>
                <p class="body-style-12 product-details">
                  Lorem ipsum dolor sit amet, consectetur adipiscing
                </p>
                <div class="grid-gap-16 grid grid-cols-2">
                  <div>
                    <img
                      src="https://via.placeholder.com/180x120/EFEFEF/000000?text=coming%20soon"
                      class="w-full"
                    />
                    <h4 class="header-style-14-semibold mt-8 mb-8 text-center">
                      Stars & Stripes
                    </h4>
                  </div>
                  <div>
                    <img
                      src="https://via.placeholder.com/180x120/EFEFEF/000000?text=coming%20soon"
                      class="template-active-thumb w-full"
                    />
                    <h4 class="header-style-14-semibold mt-8 mb-8 text-center">
                      Glory Days
                    </h4>
                    <p class="cos-text--blue body-style-12 text-center">
                      This is your current template.
                    </p>
                  </div>
                  <div class="">
                    <img
                      src="https://via.placeholder.com/180x120/EFEFEF/000000?text=coming%20soon"
                      class="w-full"
                    />
                    <h4
                      class="
                        header-style-14-semibold
                        mt-8
                        mb-8 mb-32
                        text-center
                      "
                    >
                      Community
                    </h4>
                  </div>
                  <div>
                    <img
                      src="https://via.placeholder.com/180x120/EFEFEF/000000?text=coming%20soon"
                      class="w-full"
                    />
                    <h4
                      class="
                        header-style-14-semibold
                        mt-8
                        mb-8 mb-32
                        text-center
                      "
                    >
                      Stadium
                    </h4>
                  </div>
                  <div>
                    <img
                      src="https://via.placeholder.com/180x120/EFEFEF/000000?text=coming%20soon"
                      class="w-full"
                    />
                    <h4
                      class="
                        header-style-14-semibold
                        mt-8
                        mb-8 mb-32
                        text-center
                      "
                    >
                      Periodical
                    </h4>
                  </div>
                  <div>
                    <img
                      src="https://via.placeholder.com/180x120/EFEFEF/000000?text=coming%20soon"
                      class="w-full"
                    />
                    <h4
                      class="
                        header-style-14-semibold
                        mt-8
                        mb-8 mb-32
                        text-center
                      "
                    >
                      Health & Support
                    </h4>
                  </div>
                  <div>
                    <img
                      src="https://via.placeholder.com/180x120/EFEFEF/000000?text=coming%20soon"
                      class="w-full"
                    />
                    <h4
                      class="
                        header-style-14-semibold
                        mt-8
                        mb-8 mb-32
                        text-center
                      "
                    >
                      Headline
                    </h4>
                  </div>
                  <div>
                    <img
                      src="https://via.placeholder.com/180x120/EFEFEF/000000?text=coming%20soon"
                      class="w-full"
                    />
                    <h4
                      class="
                        header-style-14-semibold
                        mt-8
                        mb-8 mb-32
                        text-center
                      "
                    >
                      Flying Ink
                    </h4>
                  </div>
                  <div>&nbsp;</div>
                  <div class="text-right">
                    <button cos-flat-button color="primary" class="mb-16">
                      Select Template <i class="fa fa-check ml-8"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="template-preview w-2\/3">
                <div
                  class="
                    grid-cols-2-auto
                    template-preview-header
                    grid
                    w-full
                    mb-16
                  "
                >
                  <div>
                    <div class="mat-tab-link-container">
                      <div
                        class="mat-tab-list"
                        style="transform: translateX(0px)"
                      >
                        <div class="mat-tab-links">
                          <a
                            class="
                              mat-tab-link mat-focus-indicator
                              ng-star-inserted
                              mat-tab-label-active
                            "
                          >
                            Template
                          </a>
                          <a
                            class="
                              mat-tab-link mat-focus-indicator
                              ng-star-inserted
                            "
                          >
                            Overview
                          </a>
                          <a
                            class="
                              mat-tab-link mat-focus-indicator
                              ng-star-inserted
                            "
                          >
                            Overview
                          </a>
                          <a
                            class="
                              mat-tab-link mat-focus-indicator
                              ng-star-inserted
                            "
                          >
                            Overview
                          </a>
                          <a
                            class="
                              mat-tab-link mat-focus-indicator
                              ng-star-inserted
                            "
                          >
                            Overview
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-right">
                    <button cos-stroked-button color="primary" class="mb-16">
                      Live Preview
                      <i class="fa fa-external-link-square-alt ml-8"></i>
                    </button>
                  </div>
                </div>
                <div>
                  <div class="template-header w-full pt-8 pb-8">
                    <h2
                      class="
                        header-style-14-semibold
                        cos-text--white
                        mb-0
                        text-center
                      "
                    >
                      Glory Days
                    </h2>
                  </div>
                  <img
                    src="https://via.placeholder.com/730x820/EFEFEF/000000?text=coming%20soon"
                    class="template-active w-full mt-0"
                  />
                </div>
              </div>
            </div>
          </div>
        </cos-card>
      </div>
    </div>
  </div>
</div>
