@import 'cosmos/scss/settings/';

.website-overview {
  display: flex;
  flex-direction: column;

  @include wider-than($bp-large) {
    display: grid;
    grid-template-areas:
      'a a a a a a a a a a a a'
      'b b b b b b b b b b b b';
  }

  .header {
    grid-area: a;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-g-pebble-09;
  }

  &-content {
    grid-area: b;
  }
}
.template {
  &-options {
    align-self: end;
  }
}
.product {
  &-list {
    border: 1px solid $color-g-pebble-09;
    border-radius: 8px;
    padding: 16px;
  }
  &-details strong {
    color: $color-g-mineshaft-88;
  }
}
.pages-info div {
  border-bottom: 1px solid $color-g-pebble-09;
}
.template-preview-header {
  border-bottom: 1px solid $color-g-pebble-09;
  align-items: flex-end;
}
.template-visuals > div:first-child {
  border-right: 1px solid $color-g-pebble-09;
}
.template-active-thumb {
  border: 3px solid $color-bl-azure-57;
  border-radius: 5px;
}
.template-active {
  border: 5px solid $color-bl-azure-57;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.template-header {
  background-color: $color-bl-azure-57;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
