<div class="login-container">
  <div class="left-wrapper">
    <div class="logo">
      <esp-encore-logo></esp-encore-logo>
    </div>
    <div class="login-wrapper">
      <router-outlet> </router-outlet>
    </div>
  </div>
  <div class="right-wrapper text-center">
    <img src="assets/images/MacBook_iPhone.png" alt="Log in" />
    <p class="welcome-heading">
      <strong>Welcome to Your Exclusive Access to Encore!</strong>
    </p>
    <p class="welcome-text">
      Discover exciting new features and a fresh look based on feedback from
      users like you.
    </p>
  </div>
</div>
