@import 'cosmos/scss/settings/';

.cos-global-nav-mobile {
  z-index: 1000;
  border: 2px solid red;
}
.presentation {
  &-detail {
    display: flex;
    flex-direction: column;
  }
}
.presentation-detail-body {
  @include narrower-than($bp-large) {
    margin: 1px auto 40px !important;
  }
}
.presentation-detail-body {
  width: 100%;
  max-width: 1280px;
  margin: 2.5rem auto;
}
