<div class="presentation-proofs__pg-wrapper presentation-proofs__pg-intro">
  <div class="grid grid-cols-2 mb-16">
    <div>
      <h1 class="header-style-24">Proof Approval</h1>
      <p class="body-style-14-shark">
        Lorem ipsum dolor sit emet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna alique. Ut enim ad minim
        veniam.
      </p>
    </div>
    <div>&nbsp;</div>
  </div>
</div>

<section class="presentation-proofs__pg-section mb-32">
  <cos-card class="cos-card">
    <div class="grid-cols-2-auto grid">
      <div>
        <h1 class="header-style-12 mb-16">Proofs Summary</h1>
        <p class="body-style-28 mb-32">Awaiting Proof Approval</p>

        <div
          class="
            grid-gap-16
            presentation-proofs__summary
            grid grid-cols-4
            mt-16
          "
        >
          <div>
            <p class="body-style-12-shark">
              <strong>Awaiting Proof Creation</strong>
            </p>
            <div class="flex">
              <p class="body-style-32">2</p>
            </div>
          </div>
          <div>
            <p class="body-style-12-shark">
              <strong>Awaiting Approval</strong>
            </p>
            <div class="grid-gap-8 flex">
              <div>
                <p class="body-style-32">2</p>
              </div>
              <div class="icon-notice pending">
                <i class="fa fa-exclamation"></i>
              </div>
            </div>
          </div>
          <div>
            <p class="body-style-12-shark">
              <strong>Changes Requested</strong>
            </p>
            <div class="flex">
              <p class="body-style-32">0</p>
            </div>
          </div>
          <div>
            <p class="body-style-12-shark">
              <strong>Approval for Production</strong>
            </p>
            <div class="flex">
              <p class="body-style-32">0</p>
            </div>
          </div>
        </div>
      </div>
      <div>&nbsp;</div>
    </div>
  </cos-card>
</section>
<div class="tab-navigation mb-32">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span>All proofs (2)</span>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span>Approved</span>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span>Pending approval (2)</span>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<section
  class="cos-presentation-main presentation-proofs__pg-section mt-16 mb-16"
>
  <cos-card class="cos-card mb-16">
    <div class="cos-card-container">
      <div class="grid-gap-16 flex">
        <div class="quote-image text-center">
          <img
            src="https://via.placeholder.com/150x200/EFEFEF/000000?text=coming%20soon"
          />
          <div class="body-style-10-shark text-center">Click to enlarge</div>
        </div>
        <div class="quote-details">
          <h2 class="header-style-16 mt-16">
            Adult Softspun Semi-Fitted Tee Proof ready
          </h2>
          <div class="grid-gap-4 grid-rows-5-auto body-style-14-shark grid">
            <div>Quantity: 280</div>
            <div>Color: Basic White</div>
            <div>Sizes: S: 50, M: 100, L: 100, SL: 30</div>
            <div>Imprint method: Screenprint</div>
            <div>Artwork: <a href="#">greenstone_icon_green.png</a></div>
          </div>
        </div>
      </div>
    </div>
    <div cos-card-sidebar>
      <h3 class="header-style-14-bold mt-16">
        Please review your proofs for the following:
      </h3>
      <div class="grid-gap-4 body-style-14-shark grid grid-rows-4">
        <div>Size of your design</div>
        <div>Colors used</div>
        <div>Placement of your design on your items</div>
        <div>Grammar and spelling</div>
      </div>
      <div class="grid-gap-8 grid grid-cols-2 mt-32">
        <div>
          <button
            type="button"
            cos-flat-button
            color="warn"
            style="width: 100%"
            [routerLink]="'../proofs-edit'"
          >
            <i class="fa fa-pencil-alt mr-8"></i> Request change
          </button>
        </div>
        <div>
          <button
            type="button"
            cos-flat-button
            color="primary"
            style="width: 100%"
            [routerLink]="'../proofs-edit'"
          >
            <i class="fa fa-check mr-8"></i> Approve
          </button>
        </div>
      </div>
      <div class="body-style-12-shark mt-16 text-center">
        <strong
          >Approve by October 25, 2020 to maintain production timeline.</strong
        >
      </div>
    </div>
  </cos-card>

  <cos-card class="cos-card mb-16">
    <div class="cos-card-container">
      <div class="grid-gap-16 flex">
        <div class="quote-image text-center">
          <img
            src="https://via.placeholder.com/150x200/EFEFEF/000000?text=coming%20soon"
          />
          <div class="body-style-10-shark text-center">Click to enlarge</div>
        </div>
        <div class="quote-details">
          <h2 class="header-style-16 mt-16">
            Saturn Jumbo Sized Non-Woven Grocery Tote
          </h2>
          <div class="grid-gap-4 grid-rows-5-auto body-style-14-shark grid">
            <div>Quantity: 500</div>
            <div>Color: Green</div>
            <div>Imprint method: Dye sublimation</div>
            <div>Artwork: <a href="#">greenstone_icon_white.png</a></div>
          </div>
        </div>
      </div>
    </div>
    <div cos-card-sidebar>
      <h3 class="header-style-14-bold mt-16">
        Please review your proofs for the following:
      </h3>
      <div class="grid-gap-4 body-style-14-shark grid grid-rows-4">
        <div>Size of your design</div>
        <div>Colors used</div>
        <div>Placement of your design on your items</div>
        <div>Grammar and spelling</div>
      </div>
      <div class="grid-gap-8 grid grid-cols-2 mt-32">
        <div>
          <button
            type="button"
            cos-flat-button
            color="warn"
            style="width: 100%"
            [routerLink]="'../proofs-edit'"
          >
            <i class="fa fa-pencil-alt mr-8"></i> Request change
          </button>
        </div>
        <div>
          <button
            type="button"
            cos-flat-button
            color="primary"
            style="width: 100%"
            [routerLink]="'../proofs-edit'"
          >
            <i class="fa fa-check mr-8"></i> Approve
          </button>
        </div>
      </div>
      <div class="body-style-12-shark mt-16 text-center">
        <strong
          >Approve by October 25, 2020 to maintain production timeline.</strong
        >
      </div>
    </div>
  </cos-card>
</section>
