@import 'cosmos/scss/settings/';
$mobile-breakpoint: $bp-large;

.project-communications {
  display: flex;
  flex-direction: column;
  padding: 0;

  @include wider-than($bp-large) {
    display: grid;

    grid-template-areas:
      'a a a a a a a a a a a a'
      'b b b c c c c c c c c c';
  }

  .header {
    grid-area: a;
    padding-bottom: rem($spacing-stack-16);
    border-bottom: $border-light;
  }
}
