<div
  class="
    presentation-invoices__pg-wrapper presentation-invoices__pg-intro
    mb-16
  "
>
  <div class="grid-gap-8 grid grid-cols-2">
    <div>
      <h1 class="header-style-24">Invoices</h1>
      <p class="body-style-14-shark">
        Lorem ipsum dolor sit ameta, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </p>
    </div>
  </div>
</div>

<cos-collection-section name="Order #1001"></cos-collection-section>

<section class="presentation-invoices__pg-section mt-16 mb-16">
  <cos-card class="cos-card mb-16">
    <div class="cos-card-container">
      <div class="grid-gap-16 grid-cols-5-auto grid">
        <div class="order-details">
          <h1 class="header-style-24 mb-16">Order #1001-1</h1>

          <h3 class="header-style-16 mb-8">Customer PO #COP-20989</h3>
          <p class="body-style-14-shark mt-0 mb-0">Order #111111</p>
        </div>

        <div class="bill-details body-style-14">
          <p class="body-style-12-shark mb-8"><strong>Bill to</strong></p>
          <p class="mb-16">Greenstone Financial</p>
          <p class="mb-8">1650 Market St, Ste 1902</p>
          <p class="mb-8">Philadelphia, PA 19103</p>
          <p>United States</p>
        </div>

        <div class="issue-details body-style-14">
          <p class="body-style-12-shark mb-8"><strong>Issue date</strong></p>
          <p>10/20/2020</p>
        </div>

        <div class="due-date-details body-style-14">
          <p class="body-style-12-shark mb-8"><strong>Due date</strong></p>
          <div class="flex">
            <div>
              <p class="mb-8">25% pre-production due 10/30/2020</p>
              <p>Remaining balance due on 11/20/2020</p>
            </div>
            <div><span cosPillLabel> Due in 9 days </span></div>
          </div>
          <p class="body-style-12-shark mb-8"><strong>Terms</strong></p>
          <p>Net 60</p>
        </div>

        <div class="balance-details text-right">
          <p class="body-style-12-shark mb-8">
            <strong>Balance due now</strong>
          </p>
          <p class="body-style-28 mb-64">$1,162.75</p>
          <div>
            <button
              type="button"
              cos-flat-button
              color="primary"
              [routerLink]="'../invoice'"
            >
              View invoice
            </button>
          </div>
        </div>
      </div>
    </div>
  </cos-card>

  <cos-card class="cos-card mb-16">
    <div class="cos-card-container">
      <div class="grid-gap-16 grid-cols-5-auto grid">
        <div class="order-details">
          <h1 class="header-style-24 mb-16">Order #1001-2</h1>

          <h3 class="header-style-16 mb-8">Customer PO #COP-20989</h3>
          <p class="body-style-14-shark mt-0 mb-0">Order #111111</p>
        </div>

        <div class="bill-details body-style-14">
          <p class="body-style-12-shark mb-8"><strong>Bill to</strong></p>
          <p class="mb-16">Greenstone Financial</p>
          <p class="mb-8">1650 Market St, Ste 1902</p>
          <p class="mb-8">Philadelphia, PA 19103</p>
          <p>United States</p>
        </div>

        <div class="issue-details body-style-14">
          <p class="body-style-12-shark mb-8"><strong>Issue date</strong></p>
          <p>10/20/2020</p>
        </div>

        <div class="due-date-details body-style-14">
          <p class="body-style-12-shark mb-8"><strong>Due date</strong></p>
          <div class="flex">
            <div>
              <p class="mb-8">25% pre-production due 10/30/2020</p>
              <p>Remaining balance due on 11/20/2020</p>
            </div>
            <div><span cosPillLabel> Due in 9 days </span></div>
          </div>
          <p class="body-style-12-shark mb-8"><strong>Terms</strong></p>
          <p>Net 60</p>
        </div>

        <div class="balance-details text-right">
          <p class="body-style-12-shark mb-8">
            <strong>Balance due now</strong>
          </p>
          <p class="body-style-28 mb-64">$1,162.75</p>
          <div>
            <button
              type="button"
              cos-flat-button
              color="primary"
              [routerLink]="'../invoice'"
            >
              View invoice
            </button>
          </div>
        </div>
      </div>
    </div>
  </cos-card>
</section>
<cos-collection-section name="Order #1002"></cos-collection-section>

<section class="presentation-invoices__pg-section mt-16 mb-16">
  <cos-card class="cos-card mb-16">
    <div class="cos-card-container">
      <div class="grid-gap-16 grid-cols-5-auto grid">
        <div class="order-details">
          <h1 class="header-style-24 mb-16">Order #1002</h1>

          <h3 class="header-style-16 mb-8">Customer PO #COP-20989</h3>
          <p class="body-style-14-shark mt-0 mb-0">Order #111111</p>
        </div>

        <div class="bill-details body-style-14">
          <p class="body-style-12-shark mb-8"><strong>Bill to</strong></p>
          <p class="mb-16">Greenstone Financial</p>
          <p class="mb-8">1650 Market St, Ste 1902</p>
          <p class="mb-8">Philadelphia, PA 19103</p>
          <p>United States</p>
        </div>

        <div class="issue-details body-style-14">
          <p class="body-style-12-shark mb-8"><strong>Issue date</strong></p>
          <p>10/20/2020</p>
        </div>

        <div class="due-date-details body-style-14">
          <p class="body-style-12-shark mb-8"><strong>Due date</strong></p>
          <div class="flex">
            <div>
              <p class="mb-8">25% pre-production due 10/30/2020</p>
              <p>Remaining balance due on 11/20/2020</p>
            </div>
            <div><span cosPillLabel> Due in 9 days </span></div>
          </div>
          <p class="body-style-12-shark mb-8"><strong>Terms</strong></p>
          <p>Net 60</p>
        </div>

        <div class="balance-details text-right">
          <p class="body-style-12-shark mb-8">
            <strong>Balance due now</strong>
          </p>
          <p class="body-style-28 mb-64">$1,162.75</p>
          <div>
            <button
              type="button"
              cos-flat-button
              color="primary"
              [routerLink]="'../invoice'"
            >
              View invoice
            </button>
          </div>
        </div>
      </div>
    </div>
  </cos-card>
</section>
