@import 'cosmos/scss/settings/';
$mobile-breakpoint: $bp-large;

.cos-global-nav-mobile {
  z-index: 1000;
  border: 2px solid red;
}
.cos-presentation-main {
  padding: 0px !important;
}
.presentation-invoices {
  &__pg-wrapper .grid-cols-2,
  &__pg-section .grid-cols-5-auto,
  &__pg-section .grid-cols-5,
  &__pg-section .grid-cols-2 {
    @include narrower-than($bp-large) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__pg-section .flex {
    @include narrower-than($bp-large) {
      flex-direction: column;
    }
  }
  &__pg-wrapper {
    @include narrower-than($bp-large) {
      padding: 0px 16px;
    }
  }
  &__pg-intro {
    @include narrower-than($bp-large) {
      padding-top: 40px;
    }
  }
  &__pg-section {
    box-shadow: 0px 1px 10px 0px rgb(0 0 0 / 5%);
    background-color: #f7f8f9;
    padding: 16px;
  }
  &__pg-section .cos-card:not(:last-child) {
    margin-bottom: 16px;
  }
  &__order input.cos-input {
    width: 100%;
  }
  &__order .grid-border {
    border-bottom: 1px solid $color-g-pebble-09;
  }
  &__order .grid-border > div {
    &:nth-child(-n + 2) {
      border-top: 0px;
    }
    &:not(:nth-child(-n + 2)) {
      border-top: 1px solid $color-g-pebble-09;
    }
    &:nth-child(even) {
      border-left: 1px solid $color-g-pebble-09;
    }
  }
}
mat-divider {
  border-color: $color-g-pebble-09;
}

.customer-portal {
  &__products-grid {
    padding: 0 16px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(244px, 1fr));
    grid-auto-flow: row;

    width: 100%;
    max-width: 1280px;
    margin: 40px auto;
  }
}

//Nicole's added css
.body-style-28 {
  font-size: 32px;
}
