<cos-card>
  <cos-card-controls class="flex items-center">
    <p class="body-style-11 mb-0 mr-8">Last updated 3 days ago</p>
    <cos-card-menu>TBD</cos-card-menu>
  </cos-card-controls>

  <header>
    <span>
      <h4 class="invoice-title header-style-16 inline-block mb-0 mr-8">
        Invoice #COP 55678
      </h4>
      <span class="invoice-pill" cosPillLabel color="warn"
        >Awaiting Payment</span
      >
    </span>
  </header>
  <p class="body-style-12-shark mb-8">Customer PO #COP 2115</p>

  <esp-card-metadata-list [cols]="6">
    <li>
      <!-- Deposit Due -->
      <div class="flex">
        <i class="fa fa-calendar-alt"></i>
        <div class="ml-8">
          <h5 class="header-style-12 mb-8">Deposit Due</h5>
          <p>11/25/2020</p>
        </div>
      </div>
      <!-- /Deposit Due -->

      <!-- Balance Due -->
      <div class="flex">
        <i class="fa fa-calendar-alt"></i>
        <div class="ml-8">
          <h5 class="header-style-12 mb-8">Balance Due</h5>
          <p>11/28/2020</p>
        </div>
      </div>
      <!-- /Balance Due -->
    </li>
    <!-- Bill to -->
    <li>
      <h5 class="header-style-12 mb-8">Bill to</h5>
      <p>
        Leslie Knope<br />
        123 Main Street<br />
        Pawnee, Indiana<br />
        55423
      </p>
    </li>
    <!-- /Bill to -->

    <!-- Created Date -->
    <li>
      <h5 class="header-style-12 mb-8">Created Date</h5>
      <p>Oct 24, 2020</p>
    </li>
    <!-- /Created Date -->

    <!-- Terms -->
    <li>
      <h5 class="header-style-12 mb-8">Terms</h5>
      <p>Net 60</p>
    </li>
    <!-- /Terms -->

    <!-- Issue Date -->
    <li>
      <h5 class="header-style-12 mb-8">Issue Date</h5>
      <p>Oct 24, 2020</p>
    </li>
    <!-- /Issue Date -->

    <!-- Invoice Amount -->
    <li>
      <h5 class="header-style-12 mb-8">Invoice Amount</h5>
      <p>$1,000.00</p>
    </li>
    <!-- Invoice Amount -->
  </esp-card-metadata-list>
</cos-card>
