<div class="content-wrapper" *ngIf="!isResetEmailSent; else emailSent">
  <div class="text-center">
    <h1 class="header-style-24">Forgot password?</h1>
    <div class="body-style-14-mineshaft mt-16">
      Enter your email, and we’ll send you instruction on how to reset your
      password.
    </div>
  </div>
  <div class="content">
    <cos-form-field>
      <cos-label>Email</cos-label>
      <input
        cos-input
        class="w-full"
        [style]="'large'"
        type="email"
        [formControl]="resetPasswordEmail"
        placeholder="Email"
      />
      <cos-error></cos-error>
    </cos-form-field>
    <button
      cos-flat-button
      class="w-full"
      color="primary"
      size="lg"
      (click)="sendResetPasswordEmail()"
    >
      Reset Password
    </button>
    <div class="body-style-14-mineshaft mt-16 text-center">
      <a cos-button routerLink="/auth/login">Go back to Log in</a>
    </div>
  </div>
</div>

<ng-template #emailSent>
  <div class="text-center">
    <h1 class="header-style-24">An email is on its way!</h1>
    <div class="body-style-14-mineshaft mt-16">
      Check your
      <strong>{{ resetPasswordEmail.value }}</strong> inbox for instructions
      from us on how to reset your password.
    </div>
  </div>
  <div>
    <a
      cos-flat-button
      class="w-full mt-24"
      color="primary"
      size="lg"
      routerLink="/auth/login"
    >
      Go back to Log In
    </a>
  </div>
</ng-template>
