<section class="cos-presentation-main" *ngIf="showDetails">
  <cos-card>
    <div class="cos-card-container">
      <div>
        <p>Hey Elizabeth,</p>

        <p>
          Here are a handful of products that I think you might be interested
          for this year’s OrganizeIt giveaway. Feel free to respond here or give
          me an email or a call. Take care!
        </p>

        <p>
          Linda Davis <br />
          <span class="body-style-12"
            >(866) 555-1234 ext. 51 <br />
            <a href="mailto:linda.davis@kraftwerk.com"
              >linda.davis@kraftwerk.com</a
            ></span
          >
        </p>

        <a class="presentation-header-reply-btn strong" href="#"
          ><i class="fa fa-share"></i> Reply</a
        >
      </div>
    </div>
    <div cos-card-sidebar class="cos-card-sidebar">
      <h3 class="header-style-14-bold">Project Information</h3>

      <div class="cos-presentation-project-info-grid">
        <div *ngIf="presentation.expiration">
          <i class="fa fa-user-clock"></i>
          <span> Presentation expires on {{ presentation.expiration }} </span>
        </div>
        <div *ngIf="presentation.inHandDate">
          <i class="fa fa-hand-paper"></i>Needed in-hands by {{
          presentation.inHandDate }}
        </div>
        <div *ngIf="presentation.eventDate">
          <i class="fa fa-calendar-alt"></i>Event scheduled for {{
          presentation.eventDate }}
        </div>

        <div *ngIf="presentation.budget">
          <i class="fa fa-dollar-sign"></i
          ><span>Budget <span [innerHTML]="presentation.budget"></span></span>
        </div>

        <div *ngIf="presentation.attendees">
          <i class="fa fa-users"></i
          ><span>Attendees {{ presentation.attendees }}</span>
        </div>
      </div>
    </div>
  </cos-card>
</section>

<section class="customer-portal__products-grid mt-32">
  <ng-container *ngFor="let product of presentationProducts; let i = index">
    <cos-product-card
      [product]="product"
      [isDraggable]="false"
      [isSelectable]="false"
      [clientFacing]="true"
      [routerLink]="'/product'"
      [productActionsTemplate]="productCardActions"
    >
    </cos-product-card>
  </ng-container>
</section>

<!-- Product card actions -->
<ng-template #productCardActions let-product="product">
  <!-- Add to collection button -->
  <button mat-menu-item class="cos-menu-item add-to-collection">
    <i class="fa fa-archive"></i>
    <span>Add to Collection </span>
  </button>
  <!-- /Add to collection button -->

  <!-- Add to presentation button -->
  <button
    mat-menu-item
    class="cos-menu-item add-to-presentation"
    *cosIfFeatureFlags="{ matches: ['presentations'] }"
  >
    <i class="fa fa-images"></i>
    <span>Add to Presentation</span>
  </button>
  <!-- /Add to presentation button -->

  <!-- Add to order button -->
  <button
    mat-menu-item
    class="cos-menu-item add-to-order"
    *cosIfFeatureFlags="{ matches: ['orders'] }"
  >
    <i class="fa fa-file-invoice"></i>
    <span>Add to Order</span>
  </button>
  <!-- /Add to order button -->
</ng-template>
<!-- /Product card actions -->
