<div class="project-proofs grid-layout-1">
  <div class="header flex justify-between">
    <h1 class="header-style-24 collection-header mb-2">Project Proofs</h1>
    <div class="lg:block hidden">
      <button cos-stroked-button color="primary">
        <span class="fa fa-plus mr-8"></span>Add proof
      </button>
      <button cos-flat-button disabled>
        <span class="fa fa-paper-plane mr-8"></span>Send proofs
      </button>
    </div>
  </div>
</div>

<!-- Sidebar to go here -->
<!-- <esp-project-proofs-sidebar [project]="proofs"></esp-project-proofs-sidebar> -->

<main class="proj-proofs__pg-content">
  <!-- Adult Softspun Semi-Fitted Tee Top Center-->
  <section class="proj-proofs__pg-section mb-16">
    <cos-card>
      <div class="cos-card-container">
        <ul class="flexbox mt-0 mb-0">
          <li class="project-proofs__image-upload mr-16">
            <!-- Image upload -->
            <cos-image-upload-form></cos-image-upload-form>
          </li>
          <li class="pt-16">
            <h2 class="header-style-18 mb-4">Adult Softspun Semi-Fitted Tee</h2>
            <h4 class="header-style-14-bold mb-4">
              <strong>Order # 12345</strong>
            </h4>
            <h4 class="header-style-14-bold mb-16">
              <strong>Imprint Location: Front - Center</strong>
            </h4>
            <p class="body-style-14-shark mb-4">Color: Basic White</p>
            <p class="body-style-14-shark mb-4">
              Sizes: S: 56, M: 75, L: 70, XL: 40, 2XL: 20, 3 XL: 10
            </p>
            <p class="body-style-14-shark mb-4">Quantity: 271</p>
            <p class="body-style-14-shark mb-4">Imprint method: Screeprint</p>
            <p class="body-style-14-shark mb-4">
              Artwork: <a href="#">cityofpawnee_fullcolor.png</a>
            </p>
          </li>
        </ul>
      </div>
      <div cos-card-sidebar="" class="project-proofs__sidebar">
        <div class="cos-card-controls-container">
          <cos-card-menu class="cos-card-menu">
            <button
              aria-haspopup="true"
              cos-icon-button=""
              class="mat-menu-trigger cos-icon-button"
            >
              <i class="fa fa-ellipsis-h"></i
              ><span class="cos-accessibly-hidden">Menu</span>
            </button>
            <!--container-->
            <mat-menu
              backdropclass="cos-global-menu-backdrop"
              yposition="below"
              class=""
              ng-reflect-backdrop-class="cos-global-menu-backdrop"
              ng-reflect-y-position="below"
            >
              something
              <!--container-->
            </mat-menu>
          </cos-card-menu>
        </div>

        <ul class="flexbox flexbox__align-center mt-0 mb-0">
          <li class="flexbox__col1 mr-16">
            <h4 class="header-style-14-bold">
              <strong>"Approved by" date</strong>
            </h4>
            <div
              class="cos-date-picker cos-date-picker--medium"
              ng-reflect-ng-class="cos-date-picker--medium"
            >
              <mat-datepicker-toggle>
                <button type="button">
                  <span class="mat-button-wrapper"
                    ><svg
                      viewBox="0 0 24 24"
                      width="24px"
                      height="24px"
                      fill="currentColor"
                      focusable="false"
                      class="mat-datepicker-toggle-default-icon"
                    >
                      <path
                        d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"
                      ></path></svg
                    ><!--bindings={
  "ng-reflect-ng-if": "true"
}--></span
                  ><span
                    matripple=""
                    class="mat-ripple mat-button-ripple mat-button-ripple-round"
                    ng-reflect-disabled="false"
                    ng-reflect-centered="true"
                    ng-reflect-trigger="[object HTMLButtonElement]"
                  ></span
                  ><span
                    class="mat-button-focus-overlay"
                  ></span></button></mat-datepicker-toggle
              ><mat-datepicker></mat-datepicker>
              <input
                cos-input=""
                placeholder="mm/dd/yyyy"
                class="mat-datepicker-input cdk-text-field-autofill-monitored cos-input cos-input--medium ng-pristine ng-valid ng-touched"
                ng-reflect-placeholder="mm/dd/yyyy"
                ng-reflect-mat-datepicker="[object Object]"
                ng-reflect-form="[object Object]"
                aria-haspopup="dialog"
                data-mat-calendar="mat-datepicker-0"
                aria-required="false"
                aria-invalid="false"
                id="cos-input-8dbe7f3b-3e96-49b6-9474-05f8acdd2fdb"
              />
            </div>
          </li>
          <li class="pt-32">
            <button cos-flat-button disabled>
              <span class="fa fa-paper-plane mr-8"></span>Send proof
            </button>
          </li>
        </ul>
      </div>
    </cos-card>
  </section>

  <!-- Adult Softspun Semi-Fitted Tee Left Sleeve -->
  <section class="proj-proofs__pg-section mb-16">
    <cos-card>
      <div class="cos-card-container">
        <ul class="flexbox mt-0 mb-0">
          <li class="project-proofs__image-upload mr-16">
            <!-- Image upload -->
            <cos-image-upload-form></cos-image-upload-form>
          </li>
          <li class="pt-16">
            <h2 class="header-style-18 mb-4">Adult Softspun Semi-Fitted Tee</h2>
            <h4 class="header-style-14-bold mb-4">
              <strong>Order # 12345</strong>
            </h4>
            <h4 class="header-style-14-bold mb-16">
              <strong>Imprint Location: Left Sleeve</strong>
            </h4>
            <p class="body-style-14-shark mb-4">Color: Basic White</p>
            <p class="body-style-14-shark mb-4">
              Sizes: S: 56, M: 75, L: 70, XL: 40, 2XL: 20, 3 XL: 10
            </p>
            <p class="body-style-14-shark mb-4">Quantity: 271</p>
            <p class="body-style-14-shark mb-4">Imprint method: Screeprint</p>
            <p class="body-style-14-shark mb-4">
              Artwork: <a href="#">cityofpawnee_fullcolor.png</a>
            </p>
          </li>
        </ul>
      </div>
      <div cos-card-sidebar="" class="project-proofs__sidebar">
        <div class="cos-card-controls-container">
          <cos-card-menu class="cos-card-menu">
            <button
              aria-haspopup="true"
              cos-icon-button=""
              class="mat-menu-trigger cos-icon-button"
            >
              <i class="fa fa-ellipsis-h"></i
              ><span class="cos-accessibly-hidden">Menu</span>
            </button>
            <!--container-->
            <mat-menu
              backdropclass="cos-global-menu-backdrop"
              yposition="below"
              class=""
              ng-reflect-backdrop-class="cos-global-menu-backdrop"
              ng-reflect-y-position="below"
            >
              something
              <!--container-->
            </mat-menu>
          </cos-card-menu>
        </div>

        <ul class="flexbox flexbox__align-center mt-0 mb-0">
          <li class="flexbox__col1 mr-16">
            <h4 class="header-style-14-bold">
              <strong>"Approved by" date</strong>
            </h4>
            <div
              class="cos-date-picker cos-date-picker--medium"
              ng-reflect-ng-class="cos-date-picker--medium"
            >
              <mat-datepicker-toggle>
                <button type="button">
                  <span class="mat-button-wrapper"
                    ><svg
                      viewBox="0 0 24 24"
                      width="24px"
                      height="24px"
                      fill="currentColor"
                      focusable="false"
                      class="mat-datepicker-toggle-default-icon"
                    >
                      <path
                        d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"
                      ></path></svg
                    ><!--bindings={
  "ng-reflect-ng-if": "true"
}--></span
                  ><span
                    matripple=""
                    class="mat-ripple mat-button-ripple mat-button-ripple-round"
                    ng-reflect-disabled="false"
                    ng-reflect-centered="true"
                    ng-reflect-trigger="[object HTMLButtonElement]"
                  ></span
                  ><span
                    class="mat-button-focus-overlay"
                  ></span></button></mat-datepicker-toggle
              ><mat-datepicker></mat-datepicker>
              <input
                cos-input=""
                placeholder="mm/dd/yyyy"
                class="mat-datepicker-input cdk-text-field-autofill-monitored cos-input cos-input--medium ng-pristine ng-valid ng-touched"
                ng-reflect-placeholder="mm/dd/yyyy"
                ng-reflect-mat-datepicker="[object Object]"
                ng-reflect-form="[object Object]"
                aria-haspopup="dialog"
                data-mat-calendar="mat-datepicker-0"
                aria-required="false"
                aria-invalid="false"
                id="cos-input-8dbe7f3b-3e96-49b6-9474-05f8acdd2fdb"
              />
            </div>
          </li>
          <li class="pt-32">
            <button cos-flat-button disabled>
              <span class="fa fa-paper-plane mr-8"></span>Send proof
            </button>
          </li>
        </ul>
      </div>
    </cos-card>
  </section>

  <!-- Stadium Cup - 32 oz. -->
  <section class="proj-proofs__pg-section mb-16">
    <cos-card>
      <div class="cos-card-container">
        <ul class="flexbox mt-0 mb-0">
          <li class="project-proofs__image-upload mr-16">
            <!-- Image upload -->
            <cos-image-upload-form></cos-image-upload-form>
          </li>
          <li class="pt-16">
            <h2 class="header-style-18 mb-4">Stadium Cup - 32 oz.</h2>
            <h4 class="header-style-14-bold mb-4">
              <strong>Order # 12345</strong>
            </h4>
            <h4 class="header-style-14-bold mb-16">
              <strong>Imprint Location: Front - Center</strong>
            </h4>
            <p class="body-style-14-shark mb-4">Color: Teal</p>
            <p class="body-style-14-shark mb-4">Quantity: 1,000</p>
            <p class="body-style-14-shark mb-4">Imprint method: Pad print</p>
            <p class="body-style-14-shark mb-4">
              Artwork: <a href="#">cityofpawnee_white.png</a>
            </p>
          </li>
        </ul>
      </div>
      <div cos-card-sidebar="" class="project-proofs__sidebar">
        <div class="cos-card-controls-container">
          <cos-card-menu class="cos-card-menu">
            <button
              aria-haspopup="true"
              cos-icon-button=""
              class="mat-menu-trigger cos-icon-button"
            >
              <i class="fa fa-ellipsis-h"></i
              ><span class="cos-accessibly-hidden">Menu</span>
            </button>
            <!--container-->
            <mat-menu
              backdropclass="cos-global-menu-backdrop"
              yposition="below"
              class=""
              ng-reflect-backdrop-class="cos-global-menu-backdrop"
              ng-reflect-y-position="below"
            >
              something
              <!--container-->
            </mat-menu>
          </cos-card-menu>
        </div>

        <ul class="flexbox flexbox__align-center mt-0 mb-0">
          <li class="flexbox__col1 mr-16">
            <h4 class="header-style-14-bold">
              <strong>"Approved by" date</strong>
            </h4>
            <div
              class="cos-date-picker cos-date-picker--medium"
              ng-reflect-ng-class="cos-date-picker--medium"
            >
              <mat-datepicker-toggle>
                <button type="button">
                  <span class="mat-button-wrapper"
                    ><svg
                      viewBox="0 0 24 24"
                      width="24px"
                      height="24px"
                      fill="currentColor"
                      focusable="false"
                      class="mat-datepicker-toggle-default-icon"
                    >
                      <path
                        d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"
                      ></path></svg
                    ><!--bindings={
  "ng-reflect-ng-if": "true"
}--></span
                  ><span
                    matripple=""
                    class="mat-ripple mat-button-ripple mat-button-ripple-round"
                    ng-reflect-disabled="false"
                    ng-reflect-centered="true"
                    ng-reflect-trigger="[object HTMLButtonElement]"
                  ></span
                  ><span
                    class="mat-button-focus-overlay"
                  ></span></button></mat-datepicker-toggle
              ><mat-datepicker></mat-datepicker>
              <input
                cos-input=""
                placeholder="mm/dd/yyyy"
                class="mat-datepicker-input cdk-text-field-autofill-monitored cos-input cos-input--medium ng-pristine ng-valid ng-touched"
                ng-reflect-placeholder="mm/dd/yyyy"
                ng-reflect-mat-datepicker="[object Object]"
                ng-reflect-form="[object Object]"
                aria-haspopup="dialog"
                data-mat-calendar="mat-datepicker-0"
                aria-required="false"
                aria-invalid="false"
                id="cos-input-8dbe7f3b-3e96-49b6-9474-05f8acdd2fdb"
              />
            </div>
          </li>
          <li class="pt-32">
            <button cos-flat-button disabled>
              <span class="fa fa-paper-plane mr-8"></span>Send proof
            </button>
          </li>
        </ul>
      </div>
    </cos-card>
  </section>

  <!-- Large Cotton Canvas Sailing Tote Bag -->
  <section class="proj-proofs__pg-section mb-16">
    <cos-card>
      <div class="cos-card-container">
        <ul class="flexbox mt-0 mb-0">
          <li class="project-proofs__image-upload mr-16">
            <!-- Image upload -->
            <cos-image-upload-form></cos-image-upload-form>
          </li>
          <li class="pt-16">
            <h2 class="header-style-18 mb-4">
              Large Cotton Canvas Sailing Tote Bag
            </h2>
            <h4 class="header-style-14-bold mb-4">
              <strong>Order # 12345</strong>
            </h4>
            <h4 class="header-style-14-bold mb-16">
              <strong>Imprint Location: Front - Center</strong>
            </h4>
            <p class="body-style-14-shark mb-4">Color: Black - White</p>
            <p class="body-style-14-shark mb-4">Ink: Black</p>
            <p class="body-style-14-shark mb-4">Quantity: 1,000</p>
            <p class="body-style-14-shark mb-4">Imprint method: Pad print</p>
            <p class="body-style-14-shark mb-4">
              Artwork: <a href="#">cityofpawnee_fullcolor.png</a>
            </p>
          </li>
        </ul>
      </div>
      <div cos-card-sidebar="" class="project-proofs__sidebar">
        <div class="cos-card-controls-container">
          <cos-card-menu class="cos-card-menu">
            <button
              aria-haspopup="true"
              cos-icon-button=""
              class="mat-menu-trigger cos-icon-button"
            >
              <i class="fa fa-ellipsis-h"></i
              ><span class="cos-accessibly-hidden">Menu</span>
            </button>
            <!--container-->
            <mat-menu
              backdropclass="cos-global-menu-backdrop"
              yposition="below"
              class=""
              ng-reflect-backdrop-class="cos-global-menu-backdrop"
              ng-reflect-y-position="below"
            >
              something
              <!--container-->
            </mat-menu>
          </cos-card-menu>
        </div>

        <ul class="flexbox flexbox__align-center mt-0 mb-0">
          <li class="flexbox__col1 mr-16">
            <h4 class="header-style-14-bold">
              <strong>"Approved by" date</strong>
            </h4>
            <div
              class="cos-date-picker cos-date-picker--medium"
              ng-reflect-ng-class="cos-date-picker--medium"
            >
              <mat-datepicker-toggle>
                <button type="button">
                  <span class="mat-button-wrapper"
                    ><svg
                      viewBox="0 0 24 24"
                      width="24px"
                      height="24px"
                      fill="currentColor"
                      focusable="false"
                      class="mat-datepicker-toggle-default-icon"
                    >
                      <path
                        d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"
                      ></path></svg
                    ><!--bindings={
  "ng-reflect-ng-if": "true"
}--></span
                  ><span
                    matripple=""
                    class="mat-ripple mat-button-ripple mat-button-ripple-round"
                    ng-reflect-disabled="false"
                    ng-reflect-centered="true"
                    ng-reflect-trigger="[object HTMLButtonElement]"
                  ></span
                  ><span
                    class="mat-button-focus-overlay"
                  ></span></button></mat-datepicker-toggle
              ><mat-datepicker></mat-datepicker>
              <input
                cos-input=""
                placeholder="mm/dd/yyyy"
                class="mat-datepicker-input cdk-text-field-autofill-monitored cos-input cos-input--medium ng-pristine ng-valid ng-touched"
                ng-reflect-placeholder="mm/dd/yyyy"
                ng-reflect-mat-datepicker="[object Object]"
                ng-reflect-form="[object Object]"
                aria-haspopup="dialog"
                data-mat-calendar="mat-datepicker-0"
                aria-required="false"
                aria-invalid="false"
                id="cos-input-8dbe7f3b-3e96-49b6-9474-05f8acdd2fdb"
              />
            </div>
          </li>
          <li class="pt-32">
            <button cos-flat-button disabled>
              <span class="fa fa-paper-plane mr-8"></span>Send proof
            </button>
          </li>
        </ul>
      </div>
    </cos-card>
  </section>

  <!-- Just Your Basic Regular Ol' Clicky Pen -->
  <section class="proj-proofs__pg-section mb-16">
    <cos-card>
      <div class="cos-card-container">
        <ul class="flexbox mt-0 mb-0">
          <li class="project-proofs__image-upload mr-16">
            <!-- Image upload -->
            <cos-image-upload-form></cos-image-upload-form>
          </li>
          <li class="pt-16">
            <h2 class="header-style-18 mb-4">
              Just Your Basic Regular Ol' Clicky Pen
            </h2>
            <h4 class="header-style-14-bold mb-4">
              <strong>Order # 12345</strong>
            </h4>
            <h4 class="header-style-14-bold mb-16">
              <strong>Imprint Location: Front - Center</strong>
            </h4>
            <p class="body-style-14-shark mb-4">Color: Black - White</p>
            <p class="body-style-14-shark mb-4">Ink: Black</p>
            <p class="body-style-14-shark mb-4">Quantity: 1,000</p>
            <p class="body-style-14-shark mb-4">Imprint method: Pad print</p>
            <p class="body-style-14-shark mb-4">
              Artwork: <a href="#">cityofpawnee_fullcolor.png</a>
            </p>
          </li>
        </ul>
      </div>
      <div cos-card-sidebar="" class="project-proofs__sidebar">
        <div class="cos-card-controls-container">
          <cos-card-menu class="cos-card-menu">
            <button
              aria-haspopup="true"
              cos-icon-button=""
              class="mat-menu-trigger cos-icon-button"
            >
              <i class="fa fa-ellipsis-h"></i
              ><span class="cos-accessibly-hidden">Menu</span>
            </button>
            <!--container-->
            <mat-menu
              backdropclass="cos-global-menu-backdrop"
              yposition="below"
              class=""
              ng-reflect-backdrop-class="cos-global-menu-backdrop"
              ng-reflect-y-position="below"
            >
              something
              <!--container-->
            </mat-menu>
          </cos-card-menu>
        </div>

        <ul class="flexbox flexbox__align-center mt-0 mb-0">
          <li class="flexbox__col1 mr-16">
            <h4 class="header-style-14-bold">
              <strong>"Approved by" date</strong>
            </h4>
            <div
              class="cos-date-picker cos-date-picker--medium"
              ng-reflect-ng-class="cos-date-picker--medium"
            >
              <mat-datepicker-toggle>
                <button type="button">
                  <span class="mat-button-wrapper"
                    ><svg
                      viewBox="0 0 24 24"
                      width="24px"
                      height="24px"
                      fill="currentColor"
                      focusable="false"
                      class="mat-datepicker-toggle-default-icon"
                    >
                      <path
                        d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"
                      ></path></svg
                    ><!--bindings={
  "ng-reflect-ng-if": "true"
}--></span
                  ><span
                    matripple=""
                    class="mat-ripple mat-button-ripple mat-button-ripple-round"
                    ng-reflect-disabled="false"
                    ng-reflect-centered="true"
                    ng-reflect-trigger="[object HTMLButtonElement]"
                  ></span
                  ><span
                    class="mat-button-focus-overlay"
                  ></span></button></mat-datepicker-toggle
              ><mat-datepicker></mat-datepicker>
              <input
                cos-input=""
                placeholder="mm/dd/yyyy"
                class="mat-datepicker-input cdk-text-field-autofill-monitored cos-input cos-input--medium ng-pristine ng-valid ng-touched"
                ng-reflect-placeholder="mm/dd/yyyy"
                ng-reflect-mat-datepicker="[object Object]"
                ng-reflect-form="[object Object]"
                aria-haspopup="dialog"
                data-mat-calendar="mat-datepicker-0"
                aria-required="false"
                aria-invalid="false"
                id="cos-input-8dbe7f3b-3e96-49b6-9474-05f8acdd2fdb"
              />
            </div>
          </li>
          <li class="pt-32">
            <button cos-flat-button disabled>
              <span class="fa fa-paper-plane mr-8"></span>Send proof
            </button>
          </li>
        </ul>
      </div>
    </cos-card>
  </section>

  <!-- Artwork Design -->
  <section class="proj-proofs__pg-section mb-16">
    <cos-card>
      <div class="cos-card-container">
        <ul class="flexbox flex-box__align-top mt-0 mb-0">
          <li class="project-proofs__image-upload mr-16">
            <!-- Image upload -->
            <cos-image-upload-form></cos-image-upload-form>
          </li>
          <li class="pt-16">
            <h2 class="header-style-18 mb-4">Artwork Design</h2>
            <h4 class="header-style-14-bold mb-4">
              <strong>Order # 12345</strong>
            </h4>
          </li>
        </ul>
      </div>
      <div cos-card-sidebar="" class="project-proofs__sidebar">
        <div class="cos-card-controls-container">
          <cos-card-menu class="cos-card-menu">
            <button
              aria-haspopup="true"
              cos-icon-button=""
              class="mat-menu-trigger cos-icon-button"
            >
              <i class="fa fa-ellipsis-h"></i
              ><span class="cos-accessibly-hidden">Menu</span>
            </button>
            <!--container-->
            <mat-menu
              backdropclass="cos-global-menu-backdrop"
              yposition="below"
              class=""
              ng-reflect-backdrop-class="cos-global-menu-backdrop"
              ng-reflect-y-position="below"
            >
              something
              <!--container-->
            </mat-menu>
          </cos-card-menu>
        </div>

        <ul class="flexbox flexbox__align-center mt-0 mb-0">
          <li class="flexbox__col1 mr-16">
            <h4 class="header-style-14-bold">
              <strong>"Approved by" date</strong>
            </h4>
            <div
              class="cos-date-picker cos-date-picker--medium"
              ng-reflect-ng-class="cos-date-picker--medium"
            >
              <mat-datepicker-toggle>
                <button type="button">
                  <span class="mat-button-wrapper"
                    ><svg
                      viewBox="0 0 24 24"
                      width="24px"
                      height="24px"
                      fill="currentColor"
                      focusable="false"
                      class="mat-datepicker-toggle-default-icon"
                    >
                      <path
                        d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"
                      ></path></svg
                    ><!--bindings={
  "ng-reflect-ng-if": "true"
}--></span
                  ><span
                    matripple=""
                    class="mat-ripple mat-button-ripple mat-button-ripple-round"
                    ng-reflect-disabled="false"
                    ng-reflect-centered="true"
                    ng-reflect-trigger="[object HTMLButtonElement]"
                  ></span
                  ><span
                    class="mat-button-focus-overlay"
                  ></span></button></mat-datepicker-toggle
              ><mat-datepicker></mat-datepicker>
              <input
                cos-input=""
                placeholder="mm/dd/yyyy"
                class="mat-datepicker-input cdk-text-field-autofill-monitored cos-input cos-input--medium ng-pristine ng-valid ng-touched"
                ng-reflect-placeholder="mm/dd/yyyy"
                ng-reflect-mat-datepicker="[object Object]"
                ng-reflect-form="[object Object]"
                aria-haspopup="dialog"
                data-mat-calendar="mat-datepicker-0"
                aria-required="false"
                aria-invalid="false"
                id="cos-input-8dbe7f3b-3e96-49b6-9474-05f8acdd2fdb"
              />
            </div>
          </li>
          <li class="pt-32">
            <button cos-flat-button disabled>
              <span class="fa fa-paper-plane mr-8"></span>Send proof
            </button>
          </li>
        </ul>
      </div>
    </cos-card>
  </section>
</main>
