<h1>Marketing and promotions</h1>

<cos-segmented-panel>
  <cos-segmented-panel-row>
    <asi-panel-editable-row>
      <asi-panel-editable-row-title>
        <div class="example-custom-title">
          <p class="form-row-title mr-16">
            <strong>Title of the Panel</strong>
          </p>
          <span cosPillLabel>Primary</span>
        </div>
      </asi-panel-editable-row-title>
      <asi-panel-editable-row-inactive> </asi-panel-editable-row-inactive>
      <asi-panel-editable-row-active> </asi-panel-editable-row-active>
    </asi-panel-editable-row>
  </cos-segmented-panel-row>
</cos-segmented-panel>
