@import 'cosmos/scss/settings/';

.password-requirement-bullets {
  list-style: none;
  padding: 0;
  margin: -0.8rem 0 1rem;

  li {
    margin-top: 0.6rem;
  }

  .fa {
    font-size: 8px;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 0.2rem;
  }
}
