<ng-form [formGroup]="form" class="flex flex-col">
  <cos-form-field *ngIf="form.contains('existingPassword')">
    <cos-label>Current Password</cos-label>
    <input
      cos-input
      required
      id="existingPassword"
      formControlName="existingPassword"
      type="password"
      class="w-full"
    />
    <!-- <cos-hint>
      <a href class="strong">Forgot your password?</a>
    </cos-hint> -->
    <cos-error
      [controlErrors]="{ invalid: 'Current password is not valid.' }"
    ></cos-error>
  </cos-form-field>
  <cos-form-field>
    <cos-label>New Password</cos-label>
    <input
      cos-input
      required
      id="newPassword"
      formControlName="newPassword"
      [type]="newPasswordToggle.type"
    />
    <cos-password-toggle cosSuffix #newPasswordToggle></cos-password-toggle>
    <cos-error
      controlErrorsIgnore
      *ngIf="getFormControl('newPassword').hasError('serverError')"
    >
      {{ getFormControl('newPassword').errors.serverError }}
    </cos-error>
  </cos-form-field>
  <ul class="password-requirement-bullets body-style-14-shark">
    <li>
      <i
        class="fa fa-circle text-success bullet"
        [ngClass]="{
          'text-warning':
            getFormControl('newPassword').hasError('required') ||
            getFormControl('newPassword').hasError('minlength') ||
            getFormControl('newPassword').hasError('maxlength')
        }"
      ></i>
      8-64 characters
    </li>
    <li>
      <i
        class="fa fa-circle text-success bullet"
        [ngClass]="{
          'text-warning': getFormControl('newPassword').hasError('alphaNumeric')
        }"
      ></i>
      Contains both alpha and numeric characters
    </li>
    <li>
      <i
        class="fa fa-circle text-success bullet"
        [ngClass]="{
          'text-warning':
            getFormControl('newPassword').hasError('required') ||
            getFormControl('newPassword').hasError('pattern')
        }"
      ></i>
      Support special characters: {{ specialChars }}
    </li>
  </ul>
  <cos-form-field>
    <cos-label>Confirm New Password</cos-label>
    <input
      cos-input
      required
      id="newPasswordConfirmation"
      formControlName="confirmPassword"
      [type]="confirmPasswordToggle.type"
    />
    <cos-password-toggle cosSuffix #confirmPasswordToggle></cos-password-toggle>

    <cos-error
      controlErrorsIgnore
      *ngIf="getFormControl('confirmPassword').hasError('matches')"
    >
      This does not match the password entered above
    </cos-error>
  </cos-form-field>
</ng-form>
