<section class="presentation-products">
  <div class="flex flex-wrap justify-between items-end">
    <div>
      <h2 class="header-style-22">Edit Products</h2>
      <p class="body-style-14-shark">
        These products will be presented with the details above. Click on a
        product to edit its specific information.
      </p>
    </div>
    <cos-form-field class="search-sort">
      <cos-label>Sort by</cos-label>
      <select matNativeControl [formControl]="sort">
        <option *ngFor="let option of sortMenuOptions" [value]="option.value">
          {{ option.name }}
        </option>
      </select>
    </cos-form-field>
  </div>

  <mat-tab-group mat-align-tabs="start" animationDuration="0ms" disableRipple>
    <mat-tab label="All Products">
      <ng-template matTabContent>
        <ng-template
          [ngIf]="state.visibleProducts.length"
          [ngIfElse]="noVisibleProducts"
        >
          <ng-component
            [ngTemplateOutlet]="visibleProductsTemplate"
          ></ng-component>
        </ng-template>
        <ng-template #noVisibleProducts>
          <ng-component [ngTemplateOutlet]="noProducts"></ng-component>
        </ng-template>
      </ng-template>
    </mat-tab>
    <mat-tab label="Hidden" *ngIf="state.hiddenProducts.length">
      <ng-template matTabContent>
        <ng-template
          [ngIf]="state.hiddenProducts.length"
          [ngIfElse]="noHiddenProducts"
        >
          <ng-component
            [ngTemplateOutlet]="hiddenProductsTemplate"
          ></ng-component>
        </ng-template>
        <ng-template #noHiddenProducts>
          <ng-component [ngTemplateOutlet]="noProducts"></ng-component>
        </ng-template>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <ng-template #visibleProductsTemplate>
    <div
      class="
        grid
        proj-pres__products-grid
        xl:grid-cols-8
        lg:grid-cols-7
        md:grid-cols-6
        grid-cols-2 grid-gap-16
        cos-product-card-drag-boundary
        my-16
      "
      (cdkDropListDropped)="sequenceProducts($event)"
      cdkDropList
      cdkDropListOrientation="horizontal"
      data-cy="visible-products"
    >
      <!-- need div wrapper for drag and drop -->
      <div
        *ngFor="let product of state.visibleProducts"
        [routerLink]="[
          '/presentations',
          state?.presentation.Id,
          'product',
          product.Id
        ]"
        class="cursor-pointer"
      >
        <cos-product-card
          [product]="mapProduct(product)"
          [isDraggable]="true"
          [isSelectable]="true"
          [clientFacing]="true"
          [productActionsTemplate]="productCardActions"
        >
        </cos-product-card>
      </div>
    </div>
  </ng-template>

  <ng-template #hiddenProductsTemplate>
    <div
      class="
        grid
        proj-pres__products-grid
        xl:grid-cols-8
        lg:grid-cols-7
        md:grid-cols-6
        grid-cols-2 grid-gap-16
        cos-product-card-drag-boundary
        my-16
      "
      data-cy="hidden-products"
    >
      <div
        *ngFor="let product of state.hiddenProducts"
        [routerLink]="['product', product.Id]"
        class="cursor-pointer"
      >
        <cos-product-card
          [product]="mapProduct(product)"
          [isDraggable]="false"
          [isSelectable]="true"
          [clientFacing]="true"
          [productActionsTemplate]="productCardActions"
        >
        </cos-product-card>
      </div>
    </div>
  </ng-template>

  <ng-template #noProducts>
    <esp-pres-no-products-msg></esp-pres-no-products-msg>
  </ng-template>
</section>

<section
  class="presentations-products-no-products"
  *ngIf="!state.presentation.Products.length"
>
  <div class="presentation-recommended-products">
    <esp-product-gallery [products]="recommendedProducts">
      <div class="flex justify-between pb-16">
        <span class="flex flex-wrap items-center">
          <img class="mr-16" src="assets/images/trending_icon.svg" alt="" />
          <h2 class="header-style-22 mb-0">Trending Products</h2>
        </span>
        <button cos-button>View More</button>
      </div>
    </esp-product-gallery>

    <esp-product-gallery [products]="recommendedProducts">
      <div class="flex justify-between pb-16">
        <span class="flex flex-wrap items-center">
          <img class="mr-16" src="assets/images/discounted_icon.svg" alt="" />
          <h2 class="header-style-22 mb-0">Discounted Products</h2>
        </span>
        <button cos-button>View More</button>
      </div>
    </esp-product-gallery>
  </div>
</section>

<ng-template #productCardActions let-product="product">
  <!-- Add to order -->
  <button
    [attr.data-cy]="product.IsVisible ? 'add-to-order' : null"
    class="cos-menu-item add-to-order"
    mat-menu-item
    *cosIfFeatureFlags="{ matches: ['orders'] }"
  >
    <i class="fa fa-file-invoice"></i>
    <span>Add to Order</span>
  </button>
  <!-- Add to order -->

  <!-- Show/Hide from presentation -->
  <button
    [attr.data-cy]="
      product.IsVisible ? 'hide-from-presentation' : 'show-in-presentation'
    "
    class="cos-menu-item add-to-presentation"
    mat-menu-item
    (click)="saveVisibility(product)"
  >
    <i class="fa fa-eye-slash"></i>
    <span>{{
      product.IsVisible ? 'Hide from Presentation' : 'Show in Presentation'
    }}</span>
  </button>
  <!-- /Show/Hide from presentation -->

  <hr />

  <!-- Remove from presentation -->
  <button
    [attr.data-cy]="product.IsVisible ? 'remove-from-presentation' : null"
    class="cos-menu-item add-to-presentation"
    (click)="removeProduct(product)"
    mat-menu-item
  >
    <i class="fa fa-trash-alt mr-8 cos-warn"></i>
    Remove from Presentation
  </button>
  <!-- /Remove from presentation -->
</ng-template>
