<div class="presentation-proofs__pg-wrapper presentation-proofs__pg-intro">
  <div class="grid grid-cols-2 mb-16">
    <div>
      <h1 class="header-style-24">Proof Approval</h1>
      <p class="body-style-14-shark">
        Lorem ipsum dolor sit emet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna alique. Ut enim ad minim
        veniam.
      </p>
    </div>
    <div>&nbsp;</div>
  </div>
</div>

<section class="presentation-proofs__pg-section mb-32">
  <cos-card class="cos-card">
    <div class="grid-cols-2-auto grid">
      <div>
        <h1 class="header-style-12 mb-16">Proofs Summary</h1>
        <p class="body-style-28 mb-32">Awaiting Proof Approval</p>

        <div
          class="
            grid-gap-16
            presentation-proofs__summary
            grid grid-cols-4
            mt-16
          "
        >
          <div>
            <p class="body-style-12-shark">
              <strong>Awaiting Proof Creation</strong>
            </p>
            <div class="flex">
              <p class="body-style-32">2</p>
            </div>
          </div>
          <div>
            <p class="body-style-12-shark">
              <strong>Awaiting Approval</strong>
            </p>
            <div class="grid-gap-8 flex">
              <div>
                <p class="body-style-32">2</p>
              </div>
              <div class="icon-notice pending">
                <i class="fa fa-exclamation"></i>
              </div>
            </div>
          </div>
          <div>
            <p class="body-style-12-shark">
              <strong>Changes Requested</strong>
            </p>
            <div class="flex">
              <p class="body-style-32">0</p>
            </div>
          </div>
          <div>
            <p class="body-style-12-shark">
              <strong>Approval for Production</strong>
            </p>
            <div class="flex">
              <p class="body-style-32">0</p>
            </div>
          </div>
        </div>
      </div>
      <div>&nbsp;</div>
    </div>
  </cos-card>
</section>
<div class="tab-navigation mb-32">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span>All proofs (2)</span>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span>Approved</span>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span>Pending approval (2)</span>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<section
  class="cos-presentation-main presentation-proofs__pg-section mt-16 mb-16"
>
  <cos-card class="cos-card mb-16">
    <div class="cos-card-container">
      <div class="grid-gap-16 flex">
        <div class="quote-image text-center">
          <img
            src="https://via.placeholder.com/150x200/EFEFEF/000000?text=coming%20soon"
          />
          <div class="body-style-10-shark text-center">Click to enlarge</div>
        </div>
        <div class="quote-details">
          <h2 class="header-style-16 mt-16">
            Adult Softspun Semi-Fitted Tee Proof ready
          </h2>
          <div class="grid-gap-4 grid-rows-5-auto body-style-14-shark grid">
            <div>Quantity: 280</div>
            <div>Color: Basic White</div>
            <div>Sizes: S: 50, M: 100, L: 100, SL: 30</div>
            <div>Imprint method: Screenprint</div>
            <div>Artwork: <a href="#">greenstone_icon_green.png</a></div>
          </div>
        </div>
      </div>
    </div>
    <div cos-card-sidebar>
      <h3 class="header-style-14-bold mt-16">
        Approve proof and send to production
      </h3>
      Please enter your name. We'll use this to keep track of approvals and to
      ensure that only allowed parties are approving the proof. Maybe?
      <div class="grid-gap-8 grid grid-cols-2 mt-16">
        <div>
          <input
            placeholder="First name"
            class="
              cdk-text-field-autofill-monitored
              ng-untouched ng-pristine ng-valid
              cos-input
            "
          />
        </div>
        <div>
          <input
            placeholder="Last name"
            class="
              cdk-text-field-autofill-monitored
              ng-untouched ng-pristine ng-valid
              cos-input
            "
          />
        </div>
      </div>
      <div class="grid-gap-8 grid grid-cols-4 mt-32">
        <div></div>
        <div></div>
        <div>
          <button
            type="button"
            cos-stroked-button
            color="primary"
            style="width: 100%"
            [routerLink]="'../proofs'"
          >
            Cancel
          </button>
        </div>
        <div>
          <button
            type="button"
            cos-flat-button
            color="primary"
            style="width: 100%"
            [routerLink]="'../proofs'"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </cos-card>

  <cos-card class="cos-card mb-16">
    <div class="cos-card-container">
      <div class="grid-gap-16 flex">
        <div class="quote-image text-center">
          <img
            src="https://via.placeholder.com/150x200/EFEFEF/000000?text=coming%20soon"
          />
          <div class="body-style-10-shark text-center">Click to enlarge</div>
        </div>
        <div class="quote-details">
          <h2 class="header-style-16 mt-16">
            Saturn Jumbo Sized Non-Woven Grocery Tote
          </h2>
          <div class="grid-gap-4 grid-rows-5-auto body-style-14-shark grid">
            <div>Quantity: 500</div>
            <div>Color: Green</div>
            <div>Imprint method: Dye sublimation</div>
            <div>Artwork: <a href="#">greenstone_icon_white.png</a></div>
          </div>
        </div>
      </div>
    </div>
    <div cos-card-sidebar>
      <h3 class="header-style-14-bold mt-16">Request change</h3>
      Please detail the requested changes.
      <textarea
        placeholder="Requested changes"
        rows="4"
        class="
          cdk-text-field-autofill-monitored
          ng-untouched ng-pristine ng-valid
          cos-input
          mt-16
        "
        style="width: 100%"
      ></textarea>
      <div class="grid-gap-8 grid grid-cols-4 mt-32">
        <div></div>
        <div></div>
        <div>
          <button
            type="button"
            cos-stroked-button
            color="primary"
            style="width: 100%"
            [routerLink]="'../proofs'"
          >
            Cancel
          </button>
        </div>
        <div>
          <button
            type="button"
            cos-flat-button
            color="primary"
            style="width: 100%"
            [routerLink]="'../proofs'"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </cos-card>
</section>
