<div class="presentation-cart__pg-wrapper">
  <div class="presentation-cart__pg-intro grid-gap-8 grid grid-cols-2">
    <div>
      <h1 class="header-style-24">Shopping cart</h1>
      <p class="body-style-14-shark">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </p>
    </div>
    <div class="self-end mb-8 text-right">
      <button
        type="button"
        cos-flat-button
        color="primary"
        [routerLink]="'../quote-sent'"
      >
        <i class="fa fa-check mr-8"></i> Request a quote
      </button>
    </div>
  </div>
</div>

<section class="presentation-cart__pg-section mt-16 mb-32">
  <cos-card class="cos-card">
    <div class="cos-card-container">
      <h2 class="header-style-16">Adult Softspun Semi-Fitted Tee</h2>
      <div class="grid-gap-16 grid-cols-4-auto grid">
        <div class="cart-image">
          <img
            src="https://via.placeholder.com/100x100/EFEFEF/000000?text=coming%20soon"
          />
        </div>
        <div class="cart-details">
          <div class="grid-gap-4 grid-rows-4-auto body-style-14-shark grid">
            <div>Quantity: 280</div>
            <div>Color: Basic White</div>
            <div>Size: S: 50, M: 100, L: 100, XL: 30</div>
            <div>Imprint method: Screenprint</div>
            <div>Artowrk: <a href="#">greenstone_icon_green.png</a></div>
          </div>
        </div>
        <div class="cart-comments body-style-14-shark">
          <p class="mb-0">Customization comments:</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </p>
        </div>
        <div class="cart-actions">
          <div class="grid-gap-4 grid-rows-2-auto grid text-right">
            <div>
              <button
                cos-stroked-button
                color="primary"
                (click)="addToCart(1)"
                class="w-full"
              >
                Edit product
              </button>
            </div>
            <div></div>
            <button
              type="button"
              cos-stroked-button
              color="primary"
              class="w-full"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </cos-card>

  <cos-card class="cos-card">
    <div class="cos-card-container">
      <h2 class="header-style-16">Adult Softspun Semi-Fitted Tee</h2>
      <div class="grid-gap-16 grid-cols-4-auto grid">
        <div class="cart-image">
          <img
            src="https://via.placeholder.com/100x100/EFEFEF/000000?text=coming%20soon"
          />
        </div>
        <div class="cart-details">
          <div class="grid-gap-4 grid-rows-4-auto body-style-14-shark grid">
            <div>Quantity: 280</div>
            <div>Color: Basic White</div>
            <div>Size: S: 50, M: 100, L: 100, XL: 30</div>
            <div>Imprint method: Screenprint</div>
            <div>Artowrk: <a href="#">greenstone_icon_green.png</a></div>
          </div>
        </div>
        <div class="cart-comments body-style-14-shark">
          <p class="mb-0">&nbsp;</p>
          <p>&nbsp;</p>
        </div>
        <div class="cart-actions">
          <div class="grid-gap-4 grid-rows-2-auto grid text-right">
            <div>
              <button
                cos-stroked-button
                color="primary"
                (click)="addToCart(1)"
                class="w-full"
              >
                Edit product
              </button>
            </div>
            <div></div>
            <button
              type="button"
              cos-stroked-button
              color="primary"
              class="w-full"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </cos-card>
  <cos-card class="cos-card">
    <div class="cos-card-container">
      <h2 class="header-style-16">Adult Softspun Semi-Fitted Tee</h2>
      <div class="grid-gap-16 grid-cols-4-auto grid">
        <div class="cart-image">
          <img
            src="https://via.placeholder.com/100x100/EFEFEF/000000?text=coming%20soon"
          />
        </div>
        <div class="cart-details">
          <div class="grid-gap-4 grid-rows-4-auto body-style-14-shark grid">
            <div>Quantity: 280</div>
            <div>Color: Basic White</div>
            <div>Size: S: 50, M: 100, L: 100, XL: 30</div>
            <div>Imprint method: Screenprint</div>
            <div>Artowrk: <a href="#">greenstone_icon_green.png</a></div>
          </div>
        </div>
        <div class="cart-comments body-style-14-shark">
          <p class="mb-0">Customization comments:</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </p>
        </div>
        <div class="cart-actions">
          <div class="grid-gap-4 grid-rows-2-auto grid text-right">
            <div>
              <button
                cos-stroked-button
                color="primary"
                (click)="addToCart(1)"
                class="w-full"
              >
                Edit product
              </button>
            </div>
            <div></div>
            <button
              type="button"
              cos-stroked-button
              color="primary"
              class="w-full"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </cos-card>

  <cos-card class="cos-card">
    <div class="cos-card-container">
      <h2 class="header-style-16">Adult Softspun Semi-Fitted Tee</h2>
      <div class="grid-gap-16 grid-cols-4-auto grid">
        <div class="cart-image">
          <img
            src="https://via.placeholder.com/100x100/EFEFEF/000000?text=coming%20soon"
          />
        </div>
        <div class="cart-details">
          <div
            class="grid-gap-4 grid-rows-4-auto body-style-14-shark grid mb-4"
          >
            <div>Quantity: 280</div>
            <div>Color: Basic White</div>
            <div>Size: S: 50, M: 100, L: 100, XL: 30</div>
            <div>Imprint method: Screenprint</div>
            <div>Artowrk: <a href="#">greenstone_icon_green.png</a></div>
          </div>
        </div>
        <div class="cart-comments body-style-14-shark">
          <p class="mb-0">Customization comments:</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </p>
        </div>
        <div class="cart-actions">
          <div class="grid-gap-4 grid-rows-2-auto grid mb-16 text-right">
            <div>
              <button
                type="button"
                cos-stroked-button
                color="primary"
                class="w-full"
              >
                Edit product
              </button>
            </div>
            <div></div>
            <button
              type="button"
              cos-stroked-button
              color="primary"
              class="w-full"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
      <div class="grid-gap-16 grid-cols-4-auto grid">
        <div class="cart-image">
          <img
            src="https://via.placeholder.com/100x100/EFEFEF/000000?text=coming%20soon"
          />
        </div>
        <div class="cart-details">
          <div class="grid-gap-4 grid-rows-4-auto body-style-14-shark grid">
            <div>Quantity: 280</div>
            <div>Color: Basic White</div>
            <div>Size: S: 50, M: 100, L: 100, XL: 30</div>
            <div>Imprint method: Screenprint</div>
            <div>Artowrk: <a href="#">greenstone_icon_green.png</a></div>
          </div>
        </div>
        <div class="cart-comments body-style-14-shark">
          <p class="mb-0">Customization comments:</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </p>
        </div>
        <div class="cart-actions">
          <div class="grid-gap-4 grid-rows-2-auto grid text-right">
            <div>
              <button
                cos-stroked-button
                color="primary"
                (click)="addToCart(1)"
                class="w-full"
              >
                Edit product
              </button>
            </div>
            <div></div>
            <button
              type="button"
              cos-stroked-button
              color="primary"
              class="w-full"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </cos-card>

  <cos-card class="cos-card">
    <div class="cos-card-container">
      <h2 class="header-style-16">Adult Softspun Semi-Fitted Tee</h2>
      <div class="grid-gap-16 grid-cols-4-auto grid">
        <div class="cart-image">
          <img
            src="https://via.placeholder.com/100x100/EFEFEF/000000?text=coming%20soon"
          />
        </div>
        <div class="cart-details">
          <div class="grid-gap-4 grid-rows-4-auto body-style-14-shark grid">
            <div>Quantity: 280</div>
            <div>Color: Basic White</div>
            <div>Size: S: 50, M: 100, L: 100, XL: 30</div>
            <div>Imprint method: Screenprint</div>
            <div>Artowrk: <a href="#">greenstone_icon_green.png</a></div>
          </div>
        </div>
        <div class="cart-comments body-style-14-shark">
          <p class="mb-0">Customization comments:</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </p>
        </div>
        <div class="cart-actions">
          <div class="grid-gap-4 grid-rows-2-auto grid text-right">
            <div>
              <button
                cos-stroked-button
                color="primary"
                (click)="addToCart(1)"
                class="w-full"
              >
                Edit product
              </button>
            </div>
            <div></div>
            <button
              type="button"
              cos-stroked-button
              color="primary"
              class="w-full"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </cos-card>
</section>

<div class="presentation-cart__pg-wrapper">
  <h1 class="header-style-24">Order details</h1>
</div>

<section class="presentation-cart__pg-wrapper mt-16 mb-32">
  <cos-card class="cos-card">
    <div class="cos-card-container">
      <div class="grid-gap-16 grid-border grid grid-cols-2 pb-16">
        <div>
          <h3 class="header-style-16">Point of Contact</h3>
          <div class="grid-rows-3-auto grid-gap-16 grid">
            <div class="grid-cols-2-auto grid-gap-16 grid">
              <div>
                <h4 class="header-style-14-bold mb-8">
                  First name <span class="cos-text--blue">*</span>
                </h4>
                <input
                  cos-input
                  class="
                    cdk-text-field-autofill-monitored
                    ng-pristine ng-valid
                    cos-input
                    ng-touched
                  "
                  placeholder="Enter a value"
                  ng-reflect-model="Elizabeth"
                />
              </div>
              <div>
                <h4 class="header-style-14-bold mb-8">
                  Last name <span class="cos-text--blue">*</span>
                </h4>
                <input
                  cos-input
                  class="
                    cdk-text-field-autofill-monitored
                    ng-pristine ng-valid
                    cos-input
                    ng-touched
                  "
                  placeholder="Enter a value"
                  ng-reflect-model="Wiley"
                />
              </div>
            </div>
            <div>
              <h4 class="header-style-14-bold mb-8">
                Email address <span class="cos-text--blue">*</span>
              </h4>
              <input
                cos-input
                class="
                  cdk-text-field-autofill-monitored
                  ng-pristine ng-valid
                  cos-input
                  ng-touched
                "
                placeholder="Enter a value"
                ng-reflect-model="ewiley@greenstonefinancial.com"
              />
            </div>
            <div>
              <h4 class="header-style-14-bold mb-8">
                Phone number <span class="cos-text--blue">*</span>
              </h4>
              <input
                cos-input
                class="
                  cdk-text-field-autofill-monitored
                  ng-pristine ng-valid
                  cos-input
                  ng-touched
                "
                placeholder="Enter a value"
                ng-reflect-model="321-555-1234"
              />
            </div>
          </div>
        </div>
        <div class="pl-16">
          <h3 class="header-style-16">Project details</h3>
          <div class="grid-rows-2-auto grid-gap-16 grid">
            <div>
              <h4 class="header-style-14-bold mb-8">Event date</h4>
              <input
                cos-input=""
                placeholder="November 13, 2020"
                class="
                  mat-datepicker-input
                  cdk-text-field-autofill-monitored
                  cos-input cos-input--medium
                  ng-pristine ng-valid ng-touched
                "
                ng-reflect-placeholder="November 13, 2020"
                ng-reflect-mat-datepicker="[object Object]"
                ng-reflect-form="[object Object]"
                aria-haspopup="dialog"
                data-mat-calendar="mat-datepicker-0"
                aria-required="false"
                aria-invalid="false"
                id="cos-input-8dbe7f3b-3e96-49b6-9474-05f8acdd2fdb"
              />
            </div>
            <div>
              <h4 class="header-style-14-bold mb-8">Event date</h4>
              <input
                cos-input=""
                placeholder="November 13, 2020"
                class="
                  mat-datepicker-input
                  cdk-text-field-autofill-monitored
                  cos-input cos-input--medium
                  ng-pristine ng-valid ng-touched
                "
                ng-reflect-placeholder="November 13, 2020"
                ng-reflect-mat-datepicker="[object Object]"
                ng-reflect-form="[object Object]"
                aria-haspopup="dialog"
                data-mat-calendar="mat-datepicker-0"
                aria-required="false"
                aria-invalid="false"
                id="cos-input-8dbe7f3b-3e96-49b6-9474-05f8acdd2fdb"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card-divider mb-16"></div>
      <div class="grid-gap-16 grid-border grid grid-cols-2 pb-16">
        <div class="pt-16">
          <h3 class="header-style-16">Shipping information</h3>
          <div class="grid-rows-9-auto grid-gap-16 grid">
            <div>
              <h4 class="header-style-14-bold mb-8">
                Select from previously used
                <span class="body-style-12-shark">(optional)</span>
              </h4>
              <input
                cos-input
                class="
                  cdk-text-field-autofill-monitored
                  ng-pristine ng-valid
                  cos-input
                  ng-touched
                "
                placeholder="Shipping addresses"
              />
            </div>
            <div class="grid-cols-2-auto grid-gap-16 grid">
              <div>
                <h4 class="header-style-14-bold mb-8">
                  First name <span class="cos-text--blue">*</span>
                </h4>
                <input
                  cos-input
                  class="
                    cdk-text-field-autofill-monitored
                    ng-pristine ng-valid
                    cos-input
                    ng-touched
                  "
                  placeholder="Enter a value"
                />
              </div>

              <div>
                <h4 class="header-style-14-bold mb-8">
                  Last name <span class="cos-text--blue">*</span>
                </h4>
                <input
                  cos-input
                  class="
                    cdk-text-field-autofill-monitored
                    ng-pristine ng-valid
                    cos-input
                    ng-touched
                  "
                  placeholder="Enter a value"
                />
              </div>
            </div>

            <div>
              <h4 class="header-style-14-bold mb-8">Company</h4>
              <input
                cos-input
                class="
                  cdk-text-field-autofill-monitored
                  ng-pristine ng-valid
                  cos-input
                  ng-touched
                "
                placeholder="Enter a value"
              />
            </div>
            <div>
              <h4 class="header-style-14-bold mb-8">Address, Line 1</h4>
              <input
                cos-input
                class="
                  cdk-text-field-autofill-monitored
                  ng-pristine ng-valid
                  cos-input
                  ng-touched
                "
                placeholder="Enter a value"
              />
            </div>
            <div>
              <h4 class="header-style-14-bold mb-8">Address, Line 2</h4>
              <input
                cos-input
                class="
                  cdk-text-field-autofill-monitored
                  ng-pristine ng-valid
                  cos-input
                  ng-touched
                "
                placeholder="Enter a value"
              />
            </div>
            <div>
              <h4 class="header-style-14-bold mb-8">City</h4>
              <input
                cos-input
                class="
                  cdk-text-field-autofill-monitored
                  ng-pristine ng-valid
                  cos-input
                  ng-touched
                "
                placeholder="Enter a value"
              />
            </div>

            <div class="grid-cols-2-auto grid-gap-16 grid">
              <div>
                <h4 class="header-style-14-bold mb-8">State</h4>
                <input
                  cos-input
                  class="
                    cdk-text-field-autofill-monitored
                    ng-pristine ng-valid
                    cos-input
                    ng-touched
                  "
                  placeholder="State"
                />
              </div>
              <div>
                <h4 class="header-style-14-bold mb-8">ZIP code</h4>
                <input
                  cos-input
                  class="
                    cdk-text-field-autofill-monitored
                    ng-pristine ng-valid
                    cos-input
                    ng-touched
                  "
                  placeholder="Enter a value"
                />
              </div>
            </div>
            <div>
              <h4 class="header-style-14-bold mb-8">Country</h4>
              <input
                cos-input
                class="
                  cdk-text-field-autofill-monitored
                  ng-pristine ng-valid
                  cos-input
                  ng-touched
                "
                placeholder="Country"
              />
            </div>
            <div>
              <p class="body-style-14-shark mb-0">
                Additional shopping addresses may be added below
              </p>
            </div>
            <div class="grid-cols-2-auto grid-gap-16 grid">
              <div>
                <h4 class="header-style-14-bold mb-8">
                  Ship via <span class="body-style-12-shark">(optional)</span>
                </h4>
                <input
                  cos-input
                  class="
                    cdk-text-field-autofill-monitored
                    ng-pristine ng-valid
                    cos-input
                    ng-touched
                  "
                  placeholder="Shipping method"
                />
              </div>
              <div>
                <h4 class="header-style-14-bold mb-8">
                  Shipping account
                  <span class="body-style-12-shark">(optional)</span>
                </h4>
                <input
                  cos-input
                  class="
                    cdk-text-field-autofill-monitored
                    ng-pristine ng-valid
                    cos-input
                    ng-touched
                  "
                  placeholder="Account number"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="pt-16 pl-16">
          <h3 class="header-style-16">Billing information</h3>
          <div class="grid-rows-9-auto grid-gap-16 grid">
            <div class="grid-gap-16 flex text-left">
              <span class="body-style-14"
                ><input type="checkbox" /> Same as shipping address</span
              >
            </div>
            <div>
              <h4 class="header-style-14-bold mb-8">
                Select from previously used
                <span class="body-style-12-shark">(optional)</span>
              </h4>
              <input
                cos-input
                class="
                  cdk-text-field-autofill-monitored
                  ng-pristine ng-valid
                  cos-input
                  ng-touched
                "
                placeholder="Enter a value"
              />
            </div>
            <div class="grid-cols-2-auto grid-gap-16 grid">
              <div>
                <h4 class="header-style-14-bold mb-8">
                  First name <span class="cos-text--blue">*</span>
                </h4>
                <input
                  cos-input
                  class="
                    cdk-text-field-autofill-monitored
                    ng-pristine ng-valid
                    cos-input
                    ng-touched
                  "
                  placeholder="Enter a value"
                />
              </div>
              <div>
                <h4 class="header-style-14-bold mb-8">
                  Last name <span class="cos-text--blue">*</span>
                </h4>
                <input
                  cos-input
                  class="
                    cdk-text-field-autofill-monitored
                    ng-pristine ng-valid
                    cos-input
                    ng-touched
                  "
                  placeholder="Enter a value"
                />
              </div>
            </div>
            <div>
              <h4 class="header-style-14-bold mb-8">Address, Line 1</h4>
              <input
                cos-input
                class="
                  cdk-text-field-autofill-monitored
                  ng-pristine ng-valid
                  cos-input
                  ng-touched
                "
                placeholder="Enter a value"
              />
            </div>
            <div>
              <h4 class="header-style-14-bold mb-8">Address, Line 2</h4>
              <input
                cos-input
                class="
                  cdk-text-field-autofill-monitored
                  ng-pristine ng-valid
                  cos-input
                  ng-touched
                "
                placeholder="Enter a value"
              />
            </div>
            <div>
              <h4 class="header-style-14-bold mb-8">City</h4>
              <input
                cos-input
                class="
                  cdk-text-field-autofill-monitored
                  ng-pristine ng-valid
                  cos-input
                  ng-touched
                "
                placeholder="Enter a value"
              />
            </div>

            <div class="grid-cols-2-auto grid-gap-16 grid">
              <div>
                <h4 class="header-style-14-bold mb-8">State</h4>
                <input
                  cos-input
                  class="
                    cdk-text-field-autofill-monitored
                    ng-pristine ng-valid
                    cos-input
                    ng-touched
                  "
                  placeholder="State"
                />
              </div>
              <div>
                <h4 class="header-style-14-bold mb-8">ZIP code</h4>
                <input
                  cos-input
                  class="
                    cdk-text-field-autofill-monitored
                    ng-pristine ng-valid
                    cos-input
                    ng-touched
                  "
                  placeholder="Enter a value"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-1/2 mt-16">
        <h3 class="header-style-16">Order tracking</h3>
        <h4 class="header-style-14-bold">PO reference</h4>
        <input
          cos-input
          class="
            cdk-text-field-autofill-monitored
            ng-pristine ng-valid
            cos-input
            ng-touched
          "
          placeholder="Enter a value"
        />
      </div>
    </div>
  </cos-card>
</section>

<section class="presentation-cart__pg-wrapper mt-16 mb-32">
  <h1 class="header-style-24">Upload additional files (optional)</h1>
  <p class="body-style-14-shark">
    Additional files could include artwork or shippng files.
  </p>
  <cos-card class="cos-card">
    <div class="cos-card-container text-left">
      <button type="button" cos-button style="text-align: left">
        <i class="fa fa-plus mr-8"></i> Add a file
      </button>
    </div>
  </cos-card>
</section>
<section class="presentation-cart__pg-wrapper mt-16 mb-32">
  <h1 class="header-style-24">Add a message (optional)</h1>
  <cos-card class="cos-card">
    <div class="cos-card-container text-left">
      <button type="button" cos-button style="text-align: left">
        <i class="fa fa-plus mr-8"></i> Add a message
      </button>
    </div>
  </cos-card>
</section>

<mat-divider></mat-divider>

<section class="presentation-cart__pg-wrapper mt-32 mb-32 text-right">
  <p class="body-style-14-shark">
    By requesting a quote, you are agreeing to
    <a href="#" style="text-decoration: underline">terms and conditions</a>.
  </p>
  <p class="body-style-14-shark">
    Lorem ipsum dolor sit amet, consectetur adipising elit, sed do elusmod.
  </p>
  <button
    type="button"
    cos-flat-button
    color="primary"
    [routerLink]="'../quote-sent'"
  >
    <i class="fa fa-check mr-8"></i> Request a quote
  </button>
</section>
