@import 'cosmos/scss/settings/';

.collections-menu {
  padding: 0 0.6rem;
  width: 280px;

  mat-divider {
    margin: 8px 0;
  }
}

.collections-menu-form,
h5 {
  margin-bottom: 0.8rem;
}

.not-found {
  background-color: $color-g-pearl-03;
  padding: 1.6rem;
  margin: 0.2rem auto;
  text-align: center;

  > p {
    margin-bottom: 0.2rem;
  }
}
