@import 'cosmos/scss/settings/';

.metadata-list {
  padding-left: 0;
  // margin: 0;
  list-style: none;
  display: grid;
  margin-top: 16px;

  & > li {
    padding: 0;
    margin: 0;
    h5 {
      color: $color-g-shark-54;
    }
    &:not(:last-child) {
      padding-bottom: 0;
      border-bottom: none;
      border-right: 1px solid $color-g-pebble-09;
    }
  }
}
