<div class="presentation-activity">
  <div class="grid grid-gap-8 grid-cols-2">
    <div>
      <h1 class="header-style-24">Acitvity page</h1>
      <p class="body-style-14-shark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
    <div class="self-end mb-8 text-right"><button type="button" cos-flat-button color="primary"><i
          class="fa fa-check mr-8"></i>
        Request
        a quote</button>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<section class="presentation-activity__order mb-32 mt-32 text-right">
  <p class="body-style-14-shark">By requesting a quote, you are agreeing to <a href="#"
      style="text-decoration: underline;">terms and conditions</a>.</p>
  <p class="body-style-14-shark">Lorem ipsum dolor sit amet, consectetur adipising elit, sed do elusmod.</p>
  <button type="button" cos-flat-button color="primary"><i class="fa fa-check mr-8"></i>
    Request a quote</button>

</section>