<div
  class="presentation-quotes__pg-wrapper presentation-quotes__pg-intro mb-16"
>
  <div class="grid-gap-8 grid grid-cols-2">
    <div>
      <h1 class="header-style-24">Your custom quote</h1>
      <p class="body-style-14-shark">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </p>
    </div>
  </div>
</div>
<section class="cos-presentation-main">
  <cos-card class="cos-card">
    <div class="cos-card-container">
      <div class="grid-cols-2-auto grid">
        <div>
          <h3 class="header-style-14-bold">Last message received</h3>
        </div>
        <div class="text-right">
          <button cos-button style="padding: 0px">View full thread</button>
        </div>
      </div>
      <p>Hey Elizabeth,</p>

      <p>
        Here are a handful of products that I think you might be interested for
        this year’s OrganizeIt giveaway. Feel free to respond here or give me an
        email or a call. Take care!
      </p>

      <p>
        Linda Davis <br />
        <span class="body-style-12"
          >(866) 555-1234 ext. 51 <br />
          <a href="mailto:linda.davis@kraftwerk.com"
            >linda.davis@kraftwerk.com</a
          ></span
        >
      </p>

      <div class="grid-cols-2-auto grid-gap-16 grid">
        <div>
          <span class="header-style-14-bold mr-8">Jean-Ralphio Saperstein</span>
          <span class="body-style-12-shark">11/2/2020 5:00pm EST</span>
        </div>
        <div class="text-right">
          <button
            cos-flat-button
            color="primary"
            size="sm"
            class="presentation-header-reply-btn"
            href="#"
          >
            <i class="fa fa-share"></i> Reply
          </button>
        </div>
      </div>
    </div>
    <div cos-card-sidebar class="cos-card-sidebar">
      <h3 class="header-style-14-bold">Project Information</h3>

      <div class="cos-presentation-project-info-grid body-style-14-shark">
        <div>
          <i class="fa fa-user-clock"></i>
          <span> Presentation expires on November 12, 2020 </span>
        </div>
        <div>
          <i class="fa fa-hand-paper"></i>Needed in-hands by November 13, 2020
        </div>
        <div>
          <i class="fa fa-calendar-alt"></i>Event scheduled for November 20,
          2020
        </div>
        <div>
          <i class="fa fa-dollar-sign"></i
          ><span>Budget <span> < $15,000 </span> </span>
        </div>
        <div class="mb-0">
          <i class="fa fa-users"></i><span>Attendees 2,500</span>
        </div>
      </div>
    </div>
  </cos-card>
</section>
<div class="presentation-quotes__pg-wrapper mt-32">
  <h1 class="header-style-24">Products</h1>
</div>
<section class="presentation-quotes__pg-section mt-16 mb-32">
  <cos-card class="cos-card">
    <div class="cos-card-container">
      <div class="grid-cols-2-auto grid">
        <div>
          <h2 class="header-style-16">Adult Softspun Semi-Fitted Tee</h2>
        </div>
        <div class="text-right">
          <button
            type="button"
            cos-button
            color="warn"
            style="text-align: right; padding-right: 0px"
            [routerLink]="'../quotes-request'"
          >
            <i class="fa fa-pencil-alt mr-8"></i> Request changes
          </button>
        </div>
      </div>
      <div class="grid-gap-16 grid grid-cols-2">
        <div class="grid-gap-16 flex">
          <div class="quote-image">
            <img
              src="https://via.placeholder.com/100x100/EFEFEF/000000?text=coming%20soon"
            />
          </div>
          <div class="quote-details">
            <div class="grid-gap-4 grid-rows-5-auto body-style-14-shark grid">
              <div>Quantity: 280</div>
              <div>Color: Basic White</div>
              <div>Size: S: 50, M: 100, L: 100, XL: 30</div>
              <div>Imprint method: Screenprint</div>
              <div>Artwork: <a href="#">greenstone_icon_green.png</a></div>
            </div>
          </div>
        </div>
        <div class="quote-total body-style-14-shark">
          <div class="grid-cols-2-auto grid-gap-8 grid mb-16">
            <div>N01 Whote, S, M, L, HL: <b>250 at $10.85 each</b></div>
            <div class="text-right">$2,712.50</div>
            <div>N01 White, 2XL, 3XL: <b>30 at $11.85 each</b></div>
            <div class="text-right">$355.00</div>
            <div>Screenprint setup charge</div>
            <div class="text-right">$20.00</div>
          </div>
          <mat-divider></mat-divider>
          <div class="grid-cols-2-auto grid-gap-8 grid mt-16">
            <div>
              <h3 class="header-style-18 mb-0">Product total</h3>
            </div>
            <div class="text-right">
              <h3 class="header-style-18 mb-0">$3.066.00</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </cos-card>

  <cos-card class="cos-card">
    <div class="cos-card-container">
      <div class="grid-cols-2-auto grid">
        <div>
          <h2 class="header-style-16">
            Saturn Jumbo Sized Non-Woven Grocery Tote
          </h2>
        </div>
        <div class="text-right">
          <button
            type="button"
            cos-button
            color="warn"
            style="text-align: right; padding-right: 0px"
            [routerLink]="'../quotes-request'"
          >
            <i class="fa fa-pencil-alt mr-8"></i> Request changes
          </button>
        </div>
      </div>
      <div class="grid-gap-16 grid grid-cols-2">
        <div class="grid-gap-16 flex">
          <div class="quote-image">
            <img
              src="https://via.placeholder.com/100x100/EFEFEF/000000?text=coming%20soon"
            />
          </div>
          <div class="quote-details">
            <div class="grid-gap-4 body-style-14-shark grid">
              <div>Quantity: 500</div>
              <div>Color: Green</div>
              <div>Imprint method: Dye sublimation</div>
              <div>Artwork: <a href="#">greenstone_icon_white.png</a></div>
            </div>
          </div>
        </div>
        <div class="quote-total body-style-14-shark">
          <div class="grid-cols-2-auto grid-gap-8 grid mb-16">
            <div>[Price grid name]]: <b>500 at $0.85 each</b></div>
            <div class="text-right">$425.00</div>
          </div>
          <mat-divider></mat-divider>
          <div class="grid-cols-2-auto grid-gap-8 grid mt-16">
            <div>
              <h3 class="header-style-18 mb-0">Product total</h3>
            </div>
            <div class="text-right">
              <h3 class="header-style-18 mb-0">$3.066.00</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </cos-card>

  <cos-card class="cos-card">
    <div class="cos-card-container">
      <div class="grid-cols-2-auto grid">
        <div>
          <h2 class="header-style-16">Risky Business Shades</h2>
        </div>
        <div class="text-right">
          <button
            type="button"
            cos-button
            color="warn"
            style="text-align: right; padding-right: 0px"
            [routerLink]="'../quotes-request'"
          >
            <i class="fa fa-pencil-alt mr-8"></i> Request changes
          </button>
        </div>
      </div>
      <div class="grid-gap-16 grid grid-cols-2 mb-4">
        <div class="grid-gap-16 flex">
          <div class="quote-image">
            <img
              src="https://via.placeholder.com/100x100/EFEFEF/000000?text=coming%20soon"
            />
          </div>
          <div class="quote-details">
            <div class="grid-gap-4 body-style-14-shark grid">
              <div>Quantity: 250</div>
              <div>Color: Lime Green</div>
              <div>Imprint method: Pad print</div>
              <div>Artwork: <a href="#">greenstone_full_white.png</a></div>
            </div>
          </div>
        </div>
        <div class="quote-total body-style-14-shark">
          <div class="grid-cols-2-auto grid-gap-8 grid mb-16">
            <div>
              Really long name for a price grid, perhaps going to two lines
              which looks like this: <b>250 at $2.90 each</b>
            </div>
            <div class="text-right">$725.00</div>
            <div>Screeenprint setup charge</div>
            <div class="text-right">$20.00</div>
          </div>
        </div>
      </div>
      <div class="grid-gap-16 grid grid-cols-2">
        <div class="grid-gap-16 flex">
          <div class="quote-image">
            <img
              src="https://via.placeholder.com/100x100/EFEFEF/000000?text=coming%20soon"
            />
          </div>
          <div class="quote-details">
            <div class="grid-gap-4 body-style-14-shark grid">
              <div>Quantity: 250</div>
              <div>Color: Dark Grey</div>
              <div>Imprint method: Pad print</div>
              <div>Artwork: <a href="#">greenstone_full_white.png</a></div>
            </div>
          </div>
        </div>
        <div class="quote-total body-style-14-shark">
          <div class="grid-cols-2-auto grid-gap-8 grid mb-16">
            <div>[Price grid name]: 250 at $2.90 each</div>
            <div class="text-right">$725.00</div>
          </div>
          <mat-divider></mat-divider>
          <div class="grid-cols-2-auto grid-gap-8 grid mt-16">
            <div>
              <h3 class="header-style-18 mb-0">Product total</h3>
            </div>
            <div class="text-right">
              <h3 class="header-style-18 mb-0">$1,470.00</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </cos-card>

  <cos-card class="cos-card">
    <div class="cos-card-container">
      <div class="grid-cols-2-auto grid">
        <div>
          <h2 class="header-style-16">Just Your Basic Regular Ol'Clicky Pen</h2>
        </div>
        <div class="text-right">
          <button
            type="button"
            cos-button
            color="warn"
            style="text-align: right; padding-right: 0px"
            [routerLink]="'../quotes-request'"
          >
            <i class="fa fa-pencil-alt mr-8"></i> Request changes
          </button>
        </div>
      </div>
      <div class="grid-gap-16 grid grid-cols-2">
        <div class="grid-gap-16 flex">
          <div class="quote-image">
            <img
              src="https://via.placeholder.com/100x100/EFEFEF/000000?text=coming%20soon"
            />
          </div>
          <div class="quote-details">
            <div class="grid-gap-4 body-style-14-shark grid">
              <div>Quantity: 1,000</div>
              <div>Color: White - Black</div>
              <div>Ink: Black</div>
              <div>Imprint method: Pad print</div>
              <div>Artwork: <a href="#">greenstone_full_fullcolor.png</a></div>
            </div>
          </div>
        </div>
        <div class="quote-total body-style-14-shark">
          <div class="grid-cols-2-auto grid-gap-8 grid mb-16">
            <div>[Pirce grid name]: 1,000 at $0.39 each</div>
            <div class="text-right">$390.00</div>
          </div>
          <mat-divider></mat-divider>
          <div class="grid-cols-2-auto grid-gap-8 grid mt-16">
            <div>
              <h3 class="header-style-18 mb-0">Product total</h3>
            </div>
            <div class="text-right">
              <h3 class="header-style-18 mb-0">$390.00</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </cos-card>
  <div class="grid grid-cols-2 mt-16">
    <div>&nbsp;</div>
    <div class="grid-cols-2-auto grid-gap-8 grid pl-8 pr-16 mt-16">
      <div>
        <h3 class="header-style-16 mb-0">Subtotal</h3>
      </div>
      <div class="text-right">
        <p class="body-style16 mb-0">$5,351.00</p>
      </div>
      <div>
        <h3 class="header-style-16 mb-0">Shipping</h3>
      </div>
      <div class="text-right">
        <p class="body-style-14 mb-0">$0.00</p>
      </div>
      <div>
        <h3 class="header-style-16 mb-0">Sales tax (5%)</h3>
      </div>
      <div class="text-right">
        <p class="body-style-14 mb-2">$267.55</p>
      </div>
      <div>
        <h3 class="header-style-18 mb-0">Grand total</h3>
      </div>
      <div class="text-right">
        <h3 class="header-style-18 mb-0">$5,618.55</h3>
      </div>
    </div>
  </div>
</section>

<div class="presentation-quotes__pg-wrapper">
  <h1 class="header-style-24">Order details</h1>
</div>

<section class="presentation-quotes__pg-wrapper mt-16 mb-32">
  <cos-card class="cos-card">
    <div class="cos-card-container"></div>
    <div class="grid-cols-4-auto grid-gap-16 grid">
      <div>
        <h4 class="header-style-12-shark mb-8">Point of contact</h4>
        <p class="body-style-14 mb-0">
          Elizabeth Wiley<br />
          ewiley@greenstonefinancial.com<br />
          321-555-1234
        </p>
      </div>
      <div>
        <h4 class="header-style-12-shark mb-8">Billing address</h4>
        <p class="body-style-14 mb-0">
          Elizabeth Wiley<br />
          1650 Market St. Ste 1902<br />
          Philadelphia, PA 19103<br />
          United States
        </p>
      </div>
      <div>
        <h4 class="header-style-12-shark mb-8">Shipping address</h4>
        <p class="body-style-14 mb-0">
          Elizabeth Wiley<br />
          1650 Market St. Ste 1902<br />
          Philadelphia, PA 19103<br />
          United States
        </p>
      </div>
      <div>
        <h4 class="header-style-12-shark mb-8">Project details</h4>
        <p class="body-style-14 mb-0">
          Needed in-hands by November 13, 2020<br />
          Event scheduled for November 20, 2020
        </p>
      </div>
    </div>
  </cos-card>
</section>

<section class="presentation-quotes__pg-wrapper mt-16 mb-32">
  <h1 class="header-style-24">Upload additional files (optional)</h1>
  <p class="body-style-14-shark">
    Additional files could include artwork or shippng files.
  </p>
  <cos-card class="cos-card">
    <div class="cos-card-container text-left">
      <button type="button" cos-button style="text-align: left">
        <i class="fa fa-plus mr-8"></i> Add a file
      </button>
    </div>
  </cos-card>
</section>
<section class="presentation-quotes__pg-wrapper mt-16 mb-32">
  <h1 class="header-style-24">Add a message (optional)</h1>
  <cos-card class="cos-card">
    <div class="cos-card-container text-left">
      <button type="button" cos-button style="text-align: left">
        <i class="fa fa-plus mr-8"></i> Add a message
      </button>
    </div>
  </cos-card>
</section>

<mat-divider></mat-divider>

<section class="presentation-quotes__pg-wrapper mt-32 mb-32 text-right">
  <p class="body-style-14-shark">
    By requesting a quote, you are agreeing to
    <a href="#" style="text-decoration: underline">terms and conditions</a>.
  </p>
  <p class="body-style-14-shark">
    Prices are subject to change. You will be notified if a change in price
    occurs.
  </p>
  <button
    type="button"
    cos-flat-button
    color="warn"
    [routerLink]="'../quotes-request'"
    class="mb-8"
  >
    <i class="fa fa-pencil-alt mr-8"></i> Request changes
  </button>
  <button
    type="button"
    cos-flat-button
    color="primary"
    [routerLink]="'../quote-sent'"
  >
    <i class="fa fa-check mr-8"></i> Request a quote
  </button>
</section>
