<h1 class="header-style-22">Partner credentials</h1>
<p class="page-description">{{pageDescription}}</p>

<ng-form [formGroup]="partnerCredentialsForm">
  <cos-segmented-panel>
    <cos-segmented-panel-header>
      <h2 class="header-style-16 mb-0">User Overrides</h2>
    </cos-segmented-panel-header>

    <cos-segmented-panel-row>
      <asi-panel-editable-row
        [rowTitle]="'Allow User Overrides'"
        (onSaveEvent)="updateValue('allowUserOverrides')"
        [isEditable]="false"
      >
        <div><i class="form-row-icon fa fa-sliders-h mt-8 mr-16"></i></div>
        <asi-panel-editable-row-inactive>
          <p class="form-row-value">
            If enabled, users can change their preferred shipping method.
          </p>
        </asi-panel-editable-row-inactive>
        <asi-panel-editable-row-controls>
          <div>
            <cos-toggle
              [id]="'allowUserOverrides'"
              [name]="'allowUserOverrides'"
              [required]="true"
              [disabled]=""
              [checked]="partnerCredentialsForm.get('allowUserOverrides').value"
              ><span class="cos-accessibly-hidden"
                >Allow User Overrides</span
              ></cos-toggle
            >
          </div>
        </asi-panel-editable-row-controls>
      </asi-panel-editable-row>
    </cos-segmented-panel-row>
  </cos-segmented-panel>

  <cos-segmented-panel>
    <cos-segmented-panel-header>
      <h2 class="header-style-16 mb-0">Supplier Credentials</h2>
    </cos-segmented-panel-header>

    <cos-segmented-panel-row>
      <asi-panel-editable-row
        [rowTitle]="'[Name of Supplier - Single Account]'"
        (onSaveEvent)="updateValue('email')"
      >
        <div>
          <img class="mr-16" src="https://via.placeholder.com/38" alt="" />
        </div>
        <asi-panel-editable-row-inactive>
          <p class="form-row-value">
            Lorem ipsum dolor sit amet, consectetur labore et dolore.
          </p>
        </asi-panel-editable-row-inactive>
        <asi-panel-editable-row-active>
          <cos-form-field>
            <cos-label> Username </cos-label>
            <input
              cos-input
              id="username"
              formControlName="username"
              required
            />
            <cos-hint>Required</cos-hint>
          </cos-form-field>
          <cos-form-field>
            <cos-label> Password </cos-label>
            <input
              cos-input
              id="password"
              formControlName="password"
              required
            />
            <cos-hint>Required</cos-hint>
          </cos-form-field>
        </asi-panel-editable-row-active>
      </asi-panel-editable-row>
    </cos-segmented-panel-row>

    <cos-segmented-panel-row>
      <asi-panel-editable-row
        [rowTitle]="'[Name of Supplier - Multiple Accounts]'"
        (onSaveEvent)="updateValue('email')"
        [isEditable]="false"
        [isFullWidth]="true"
      >
        <div>
          <img class="mr-16" src="https://via.placeholder.com/38" alt="" />
        </div>
        <asi-panel-editable-row-inactive>
          <p class="form-row-value">
            Lorem ipsum dolor sit amet, consectetur labore et dolore.
          </p>

          <asi-panel-editable-row
            [rowTitle]="'John Jacob Jingleheimer-Schmidt'"
            (onSaveEvent)="updateValue('email')"
          >
            <div>
              <img
                class="partner-user-image mr-16"
                src="https://via.placeholder.com/38"
                alt=""
              />
            </div>
            <asi-panel-editable-row-inactive>
              <p class="form-row-value">
                Lorem ipsum dolor sit amet, consectetur labore et dolore.
              </p>
            </asi-panel-editable-row-inactive>
            <asi-panel-editable-row-active>
              <cos-form-field>
                <cos-label> Username </cos-label>
                <input
                  cos-input
                  id="username"
                  formControlName="username"
                  required
                />
                <cos-hint>Required</cos-hint>
              </cos-form-field>
              <cos-form-field>
                <cos-label> Password </cos-label>
                <input
                  cos-input
                  id="password"
                  formControlName="password"
                  required
                />
                <cos-hint>Required</cos-hint>
              </cos-form-field>
            </asi-panel-editable-row-active>
          </asi-panel-editable-row>

          <asi-panel-editable-row
            [rowTitle]="'Rebecca Sinclair'"
            (onSaveEvent)="updateValue('email')"
          >
            <div>
              <img
                class="partner-user-image mr-16"
                src="https://via.placeholder.com/38"
                alt=""
              />
            </div>
            <asi-panel-editable-row-inactive>
              <p class="form-row-value">
                Lorem ipsum dolor sit amet, consectetur labore et dolore.
              </p>
            </asi-panel-editable-row-inactive>
            <asi-panel-editable-row-active>
              <cos-form-field>
                <cos-label> Username </cos-label>
                <input
                  cos-input
                  id="username"
                  formControlName="username"
                  required
                />
                <cos-hint>Required</cos-hint>
              </cos-form-field>
              <cos-form-field>
                <cos-label> Password </cos-label>
                <input
                  cos-input
                  id="password"
                  formControlName="password"
                  required
                />
                <cos-hint>Required</cos-hint>
              </cos-form-field>
            </asi-panel-editable-row-active>
          </asi-panel-editable-row>

          <asi-panel-editable-row
            [rowTitle]="'David Carson'"
            (onSaveEvent)="updateValue('email')"
          >
            <div>
              <img
                class="partner-user-image mr-16"
                src="https://via.placeholder.com/38"
                alt=""
              />
            </div>
            <asi-panel-editable-row-inactive>
              <p class="form-row-value">
                Lorem ipsum dolor sit amet, consectetur labore et dolore.
              </p>
            </asi-panel-editable-row-inactive>
            <asi-panel-editable-row-active>
              <cos-form-field>
                <cos-label> Username </cos-label>
                <input
                  cos-input
                  id="username"
                  formControlName="username"
                  required
                />
                <cos-hint>Required</cos-hint>
              </cos-form-field>
              <cos-form-field>
                <cos-label> Password </cos-label>
                <input
                  cos-input
                  id="password"
                  formControlName="password"
                  required
                />
                <cos-hint>Required</cos-hint>
              </cos-form-field>
            </asi-panel-editable-row-active>
          </asi-panel-editable-row>
        </asi-panel-editable-row-inactive>
      </asi-panel-editable-row>
    </cos-segmented-panel-row>
  </cos-segmented-panel>

  <cos-segmented-panel>
    <cos-segmented-panel-header>
      <div class="partner-credentials-settings-panel-header-row">
        <h2 class="header-style-16 mb-0">Shipping Memberships</h2>
        <button
          cos-flat-button
          color="primary"
          size="sm"
          (click)="addMembership()"
        >
          <i class="fas fa-plus"></i> Add Membership
        </button>
      </div>
    </cos-segmented-panel-header>

    <cos-segmented-panel-row>
      <asi-panel-editable-row
        [rowTitle]="'UPS My Choice for Business'"
        (onSaveEvent)="updateValue('email')"
      >
        <div>
          <img class="mr-16" src="https://via.placeholder.com/32x38" alt="" />
        </div>
        <asi-panel-editable-row-inactive>
          <p class="form-row-value">
            Lorem ipsum dolor sit amet, consectetur labore et dolore.
          </p>
        </asi-panel-editable-row-inactive>
        <asi-panel-editable-row-active>
          <cos-form-field>
            <cos-label> Carrier </cos-label>
            <select matNativeControl id="carrier" formControlName="carrier">
              <option value="UPS">UPS</option>
              <option value="Fedex">Fedex</option>
            </select>
            <cos-error></cos-error>
          </cos-form-field>
          <cos-form-field>
            <cos-label> Account Number </cos-label>
            <input
              cos-input
              id="accountNumber"
              formControlName="accountNumber"
              required
            />
            <cos-error></cos-error>
          </cos-form-field>
        </asi-panel-editable-row-active>
      </asi-panel-editable-row>
    </cos-segmented-panel-row>

    <cos-segmented-panel-row *ngIf="isAddingNewMembership">
      <asi-panel-editable-row
        [rowTitle]="''"
        (onSaveEvent)="saveNewMembership()"
        [isFullWidth]="true"
        [editingIsActive]="true"
      >
        <asi-panel-editable-row-active>
          <cos-form-field>
            <cos-label>Carrier</cos-label>

            <select matNativeControl id="carrier" formControlName="carrier">
              <option value="UPS">UPS</option>
              <option value="Fedex">Fedex</option>
            </select>
            <cos-error></cos-error>
          </cos-form-field>

          <cos-form-field>
            <cos-label>Account Number</cos-label>
            <input
              cos-input
              id="accountNumber"
              formControlName="accountNumber"
              required
            />
            <cos-error></cos-error>
          </cos-form-field>
        </asi-panel-editable-row-active>
      </asi-panel-editable-row>
    </cos-segmented-panel-row>
  </cos-segmented-panel>
</ng-form>
