@import 'cosmos/scss/settings/';

.partner-credentials-settings-panel-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partner-user-image {
  border-radius: 25px;
}
