<div class="page-container website">
  <div class="website-overview grid-layout-1">
    <div class="header flex justify-between mt-32">
      <h1 class="header-style-24 mb-2">Websites Overview</h1>
    </div>

    <div class="website-overview-content grid-gap-16 grid grid-cols-2">
      <cos-card class="cos-card">
        <div class="cos-card-container">
          <div class="cos-card-header grid grid-cols-2 mb-8">
            <div>
              <h2 class="header-style-16 mb-4">Template</h2>
              <p class="body-style-12-shark">
                Lorem ipsum dolor sit amet, consectetur adipiscing
              </p>
            </div>
            <div class="text-right">
              <button cos-button style="padding: 0px">Edit Template</button>
            </div>
          </div>
          <div class="grid-gap-16 grid-cols-2-auto grid">
            <div class="template-image">
              <img
                src="https://via.placeholder.com/230x180/EFEFEF/000000?text=coming%20soon"
              />
            </div>
            <div class="template-info grid grid-rows-2">
              <div class="template-details">
                <h4 class="header-style-14-semibold mb-4">Glory Days</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam.
                </p>
              </div>
              <div class="template-options body-style-12-shark">
                <p class="mb-0">Color Palette</p>
                <p>Color options here... to add</p>
              </div>
            </div>
          </div>
        </div>
      </cos-card>

      <cos-card class="cos-card">
        <div class="cos-card-container">
          <div class="cos-card-header grid grid-cols-2 mb-8">
            <div>
              <h2 class="header-style-16 mb-4">Site Summary</h2>
              <p class="body-style-12-shark">
                Lorem ipsum dolor sit amet, consectetur adipiscing
              </p>
            </div>
            <div class="text-right">
              <button cos-button style="padding: 0px">
                Edit Site Settings
              </button>
            </div>
          </div>
          <div class="grid-gap-16 grid-cols-2-auto grid">
            <div class="summary-info grid-gap-8 grid grid-cols-2">
              <div>
                <p class="header-style-12-shark mb-4">Site Title</p>
                <p>East Coast Promotional Products</p>
              </div>
              <div>
                <p class="header-style-12-shark mb-4">Status</p>
                <p>Unpublished</p>
              </div>
              <div>
                <p class="header-style-12-shark mb-4">Domain</p>
                <p class="mb-4">asi.website.23840cdss.com</p>
                <p>
                  <button cos-button style="padding: 0px">
                    Select new Domain
                  </button>
                </p>
              </div>
              <div>
                <p class="header-style-12-shark mb-4">Last Updated</p>
                <p>September 16 2021 at 3.21 p.m.</p>
              </div>
              <div>
                <p class="header-style-12-shark mb-4">Analytics</p>
                <p>
                  <button cos-button style="padding: 0px">
                    Setup Analytics
                  </button>
                </p>
              </div>
              <div></div>
            </div>
          </div>
        </div>
      </cos-card>

      <cos-card class="cos-card">
        <div class="cos-card-container">
          <div class="cos-card-header grid grid-cols-2 mb-8">
            <div>
              <h2 class="header-style-16 mb-4">Products</h2>
              <p class="body-style-12 product-details">
                On website: <strong>(500,000) products</strong>
                from
                <strong>(6,432) suppliers</strong>.
              </p>
            </div>
            <div class="text-right">
              <button cos-button style="padding: 0px">Manage Products</button>
            </div>
          </div>
          <div class="product-info grid grid-cols-2">
            <div>
              <p class="mb-8">All Products Enabled</p>
              <p>
                <button cos-button style="padding: 0px">
                  Add Product Filters
                </button>
              </p>
            </div>
            <div class="product-list grid-rows-auto grid-gap-8 grid">
              <div>Product Collections Featured on Home</div>
              <div>Apparel (ASI Collection)</div>
              <div>Pens (ASI Collection)</div>
              <div>Hats (ASI Collection)</div>
              <div>Bags (ASI Collection)</div>
              <div>Lanyards (ASI Collection)</div>
              <div class="mt-16">
                <button cos-button style="padding: 0px">Edit Home Page</button>
              </div>
            </div>
          </div>
        </div>
      </cos-card>

      <cos-card class="cos-card">
        <div class="cos-card-container">
          <div class="cos-card-header grid grid-cols-2 mb-8">
            <div>
              <h2 class="header-style-16 mb-4">Pages</h2>
              <p class="body-style-12-shark">
                Lorem ipsum dolor sit amet, consectetur adipiscing
              </p>
            </div>
            <div class="text-right">
              <button cos-button style="padding: 0px">Add Pages</button>
            </div>
          </div>
          <div class="pages-info grid-gap-8 grid w-full grid-rows-2">
            <div class="grid-cols-2-auto grid">
              <div>
                <h4 class="header-style-14-semibold mb-8">
                  Home <span cosPillLabel class="ml-16">Landing Page</span>
                </h4>
              </div>
              <div class="text-right">
                <button
                  class="actions-button"
                  cos-button
                  aria-label="Collection actions"
                >
                  <i class="fa fa-ellipsis-h"></i>
                </button>
              </div>
            </div>
            <div class="grid-cols-2-auto grid">
              <div>
                <h4 class="header-style-14-semibold mb-8">Products</h4>
              </div>
              <div class="text-right">
                <button
                  class="actions-button"
                  cos-button
                  aria-label="Collection actions"
                >
                  <i class="fa fa-ellipsis-h"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </cos-card>
    </div>
  </div>
</div>
