<section class="mb-32">
  <esp-order-quote-header
    [order]="state.orderViewModel"
  ></esp-order-quote-header>
</section>

<!-- Merch City -->
<section class="proj-orders__pg-section mb-16">
  <!-- Customer information -->
  <cos-card class="cos-card">
    <div class="cos-card-container">
      <div class="cos-card-body">
        <div class="cos-card-main p-0">
          <div class="cos-card-controls-container flexbox">
            <cos-card-controls class="cos-card-controls"
              ><div class="lg:hidden block mr-16">
                <button
                  cos-icon-button=""
                  class="inbox-btn cos-icon-button ng-star-inserted"
                >
                  <span class="fa fa-inbox"></span>
                  <p class="body-style-12 inline ml-8">1</p>
                </button>
              </div>
              <p class="body-style-11 lg:block hidden mt-8 mb-4">
                Last updated 3 days ago
              </p></cos-card-controls
            ><cos-card-menu class="cos-card-menu"
              ><button
                aria-haspopup="true"
                cos-icon-button=""
                class="mat-menu-trigger cos-icon-button"
                ng-reflect-menu="[object Object]"
              >
                <i class="fa fa-ellipsis-h"></i
                ><span class="cos-accessibly-hidden">Menu</span></button
              ><!--container--><mat-menu
                backdropclass="cos-global-menu-backdrop"
                yposition="below"
                class=""
                ng-reflect-backdrop-class="cos-global-menu-backdrop"
                ng-reflect-y-position="below"
                ><!--container--></mat-menu
              ></cos-card-menu
            >
          </div>
          <!--container-->
          <header class="sales-order-card__header flexbox">
            <span>
              <h4 class="header-style-16 inline-block m-0 mr-8">
                CPO 55678 Merch City
              </h4></span
            ><span class="flexbox"
              ><span cospilllabel="" class="cos-pill-label mr-8"
                >Proof Hold</span
              ><span cospilllabel="" class="cos-pill-label mr-8"
                >Change Requested to Proof</span
              ><button
                cos-button=""
                size="sm"
                class="lg:block cos-button cos-button--sm hidden"
                ng-reflect-size="sm"
              >
                View Proofs
              </button></span
            >
          </header>
          <ul class="grid-cols-6-auto grid-gap-8 metadata-list grid mt-16 mb-0">
            <li class="sales-order-card__proofs-status">
              <ul class="project-info-grid">
                <li>
                  <i class="fa fa-stamp"></i><span>3 of 4 proofs created</span>
                </li>
                <li>
                  <i class="fa fa-stamp"></i
                  ><span> 2 of 4 proofs approved</span>
                </li>
                <li><i class="fa fa-dolly"></i><span> Not shipped</span></li>
              </ul>
            </li>
            <li>
              <h5 class="header-style-12 mb-8">Created Date</h5>
              <p class="mb-0">Oct 12, 2020</p>
            </li>
            <li>
              <h5 class="header-style-12 mb-8">Ship Date</h5>
              <p class="mb-0">Oct 14, 2020</p>
            </li>
            <li>
              <h5 class="header-style-12 mb-8">Order Total</h5>
              <p class="mb-0">$5,000</p>
            </li>
            <li class="sales-order-card__proofs-status">
              <ul class="project-info-grid">
                <li><i class="fa fa-hashtag"></i><span>asi/87294</span></li>
                <li>
                  <i class="fa fa-phone"></i><span> (888) 347-4622)</span>
                </li>
                <li>
                  <button cos-icon-button="" size="sm">
                    <span class="fa fa-paper-plane mr-8"></span>
                    Send Message
                  </button>
                </li>
              </ul>
            </li>
            <li class="flex justify-end">
              <div class="lg:block hidden">
                <button cos-icon-button class="inbox-btn cos-icon-button">
                  <span class="fa fa-inbox"></span>
                  <p class="sbody-style-12 inline ml-8">1</p>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </cos-card>
</section>

<!-- Axe Me About T-Shirts -->
<section class="proj-orders__pg-section mb-16">
  <!-- Customer information -->
  <cos-card class="cos-card">
    <div class="cos-card-container">
      <div class="cos-card-body">
        <div class="cos-card-main p-0">
          <div class="cos-card-controls-container flexbox">
            <cos-card-controls class="cos-card-controls"
              ><div class="lg:hidden block mr-16">
                <button
                  cos-icon-button=""
                  class="inbox-btn cos-icon-button ng-star-inserted"
                >
                  <span class="fa fa-inbox"></span>
                  <p class="body-style-12 inline ml-8">1</p>
                </button>
              </div>
              <p class="body-style-11 lg:block hidden mt-8 mb-4">
                Last updated 3 days ago
              </p></cos-card-controls
            ><cos-card-menu class="cos-card-menu"
              ><button
                aria-haspopup="true"
                cos-icon-button=""
                class="mat-menu-trigger cos-icon-button"
                ng-reflect-menu="[object Object]"
              >
                <i class="fa fa-ellipsis-h"></i
                ><span class="cos-accessibly-hidden">Menu</span></button
              ><!--container--><mat-menu
                backdropclass="cos-global-menu-backdrop"
                yposition="below"
                class=""
                ng-reflect-backdrop-class="cos-global-menu-backdrop"
                ng-reflect-y-position="below"
                ><!--container--></mat-menu
              ></cos-card-menu
            >
          </div>
          <!--container-->
          <header class="sales-order-card__header flexbox">
            <span>
              <h4 class="header-style-16 inline-block m-0 mr-8">
                CPO 55678 Axe mMe About T-Shirts
              </h4></span
            ><span class="flexbox"
              ><span cospilllabel="" class="cos-pill-label mr-8">Complete</span
              ><button
                cos-button=""
                size="sm"
                class="lg:block cos-button cos-button--sm hidden"
                ng-reflect-size="sm"
              >
                Track Shipment
              </button></span
            >
          </header>
          <ul class="grid-cols-6-auto grid-gap-8 metadata-list grid mt-16 mb-0">
            <li class="sales-order-card__proofs-status">
              <ul class="project-info-grid">
                <li>
                  <i class="fa fa-check"></i><span>Shipped (2 shipments)</span>
                </li>
                <li>
                  <i class="fa fa-times"></i><span> No proofs required</span>
                </li>
              </ul>
            </li>
            <li>
              <h5 class="header-style-12 mb-8">Created Date</h5>
              <p class="mb-0">Oct 12, 2020</p>
            </li>
            <li>
              <h5 class="header-style-12 mb-8">Ship Date</h5>
              <p class="mb-0">Oct 14, 2020</p>
            </li>
            <li>
              <h5 class="header-style-12 mb-8">Order Total</h5>
              <p class="mb-0">$5,000</p>
            </li>
            <li class="sales-order-card__proofs-status">
              <ul class="project-info-grid">
                <li><i class="fa fa-hashtag"></i><span>asi/87294</span></li>
                <li>
                  <i class="fa fa-phone"></i><span> (888) 347-4622)</span>
                </li>
                <li>
                  <button cos-icon-button="" size="sm">
                    <span class="fa fa-paper-plane mr-8"></span>
                    Send Message
                  </button>
                </li>
              </ul>
            </li>
            <li class="flex justify-end">
              <div class="lg:block hidden">
                <button cos-icon-button class="inbox-btn cos-icon-button">
                  <span class="fa fa-inbox"></span>
                  <p class="sbody-style-12 inline ml-8">1</p>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </cos-card>
</section>

<!-- Screenprinter -->
<section class="proj-orders__pg-section mb-16">
  <!-- Customer information -->
  <cos-card class="cos-card">
    <div class="cos-card-container">
      <div class="cos-card-body">
        <div class="cos-card-main p-0">
          <div class="cos-card-controls-container flexbox">
            <cos-card-controls class="cos-card-controls"
              ><div class="lg:hidden block mr-16">
                <button
                  cos-icon-button=""
                  class="inbox-btn cos-icon-button ng-star-inserted"
                >
                  <span class="fa fa-inbox"></span>
                  <p class="body-style-12 inline ml-8">1</p>
                </button>
              </div>
              <p class="body-style-11 lg:block hidden mt-8 mb-4">
                Last updated 3 days ago
              </p></cos-card-controls
            ><cos-card-menu class="cos-card-menu"
              ><button
                aria-haspopup="true"
                cos-icon-button=""
                class="mat-menu-trigger cos-icon-button"
                ng-reflect-menu="[object Object]"
              >
                <i class="fa fa-ellipsis-h"></i
                ><span class="cos-accessibly-hidden">Menu</span></button
              ><!--container--><mat-menu
                backdropclass="cos-global-menu-backdrop"
                yposition="below"
                class=""
                ng-reflect-backdrop-class="cos-global-menu-backdrop"
                ng-reflect-y-position="below"
                ><!--container--></mat-menu
              ></cos-card-menu
            >
          </div>
          <!--container-->
          <header class="sales-order-card__header flexbox">
            <span>
              <h4 class="header-style-16 inline-block m-0 mr-8">
                CPO 55678 Screenprinter
              </h4></span
            ><span class="flexbox"
              ><span cospilllabel="" class="cos-pill-label mr-8"
                >Order Confirmed</span
              ></span
            >
          </header>
          <ul class="grid-cols-6-auto grid-gap-8 metadata-list grid mt-16 mb-0">
            <li class="sales-order-card__proofs-status">
              <ul class="project-info-grid">
                <li>
                  <i class="fa fa-stamp"></i><span> 0 of 4 proofs created</span>
                </li>
                <li>
                  <i class="fa fa-stamp"></i
                  ><span> 0 of 4 proofs approved</span>
                </li>
                <li><i class="fa fa-dolly"></i><span> Not shipped</span></li>
              </ul>
            </li>
            <li>
              <h5 class="header-style-12 mb-8">Created Date</h5>
              <p class="mb-0">Oct 12, 2020</p>
            </li>
            <li>
              <h5 class="header-style-12 mb-8">Ship Date</h5>
              <p class="mb-0">Oct 14, 2020</p>
            </li>
            <li>
              <h5 class="header-style-12 mb-8">Order Total</h5>
              <p class="mb-0">$5,000</p>
            </li>
            <li class="sales-order-card__proofs-status">
              <ul class="project-info-grid">
                <li><i class="fa fa-hashtag"></i><span>asi/87294</span></li>
                <li>
                  <i class="fa fa-phone"></i><span> (888) 347-4622)</span>
                </li>
                <li>
                  <button cos-icon-button="" size="sm">
                    <span class="fa fa-paper-plane mr-8"></span>
                    Send Message
                  </button>
                </li>
              </ul>
            </li>
            <li class="flex justify-end">
              <div class="lg:block hidden">
                <button cos-icon-button class="inbox-btn cos-icon-button">
                  <span class="fa fa-inbox"></span>
                  <p class="sbody-style-12 inline ml-8">1</p>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </cos-card>
</section>
