@import 'cosmos/scss/settings/';

.directory-search {
  display: flex;
  flex-direction: column;

  @include wider-than($bp-large) {
    display: grid;
    grid-template-areas:
      'a a a a a a a a a a a a'
      'b b b c c c c c c c c c';
  }

  .header {
    grid-area: a;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-g-pebble-09;
  }

  &-menu {
    grid-area: b;
  }

  &-content {
    grid-area: c;
  }
}
