.cos-filters {
  background-color: transparent;
}

mat-selection-list {
  &.owner-list {
    min-width: 300px;
    max-height: 268px;
    overflow-x: hidden;
    mat-list-option {
      span {
        &:first-child {
          flex-grow: 1;
          text-overflow: ellipsis;
        }
        padding: 0 5px;
      }
    }
  }
}
