<div class="flex justify-between mt-16 mb-24">
  <div class="flex">
    <!-- Product image -->
    <img
      src="https://via.placeholder.com/80x100/EFEFEF/000000?text=coming%20soon"
    />
    <!-- /Product image -->

    <!-- Product details -->
    <div class="w-3/5 ml-24">
      <h2 class="header-style-18 mb-0">Addivt Softspun Semi-Fitted Tee</h2>
      <p class="body-style-12-shark mb-8">Product #: 7232 | CPN-561142775</p>
      <p>
        Addivt Softspun Semi-Fitted Tee. This "better than basic" provides the
        perfect fit alone or with a polo underneath. Soft edge tags minimize
        itching while hte V-notch and 1x1 rib at collar, cuff and waistband
        provide comfort at its best.
      </p>
    </div>
    <!-- /Product details -->
  </div>

  <!-- Product actions -->
  <div class="flex items-start justify-end">
    <button cos-icon-button aria-label="Edit">
      <i class="fa fa-pencil-alt"></i>
    </button>
    <button cos-icon-button class="cos-warn" aria-label="Delete">
      <i class="fa fa-trash"></i>
    </button>
  </div>
  <!-- /Product actions -->
</div>
